/**
 * ToDo: remove this CSS file and merge into _module.less
 **/
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

ol.post-list, 
ol.comment-list  { list-style: none; padding: 0; margin: 0; }

/* General Post Styles */
.post-list li:after { content: ' '; clear: both; display: block; }
.post-entry { margin: 0 0 20px; }
.post-image { margin: 0 0 10px; overflow: hidden; }
.post-image a { display: inline-block; }
.post-list .post-image { max-height: 300px; }
.post-meta { clear: both; margin: 0 0 20px; text-align: left; }
.post-meta .post-meta-item { display: inline-block; margin-right: 10px; }
.post-readmore { margin-top: 10px; }
.post-entry iframe { max-width: 100%; }

/* Comments */
.comment-list-item { margin: 0 0 20px; }
.comment-list.children { margin-top: 20px; padding-left: 30px; }
.comment-image { float: left; margin: 0 10px 10px 0; }
.comment-author { font-weight: bold; display: block; }
.comment-entry { clear: both; margin: 0 0 20px; }

/* Widgets */
.wp-sidebar { position: relative; } /* Fixes Porto issue where sidebar links aren't clickable */
.block-blog .block-title { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #c6c6c6; }
.block-blog .block-title > strong { font-size: 18px; font-weight: 300; }
.block-blog ul, .block-blog ol { list-style: none; margin: 0; padding: 0; }
.block-blog-cloud li { display: inline; margin: 0; }
.block-blog-categories ul.level1 { margin-top: 1rem; }

.shortcode-product {}
.shortcode-product .products { text-align: left; list-style: none; }
.shortcode-product .products > li { display: inline-block; width: 24%; text-align: center; }

