& when (@media-common = true) {
	.page-header {
		border: 0;
		margin-bottom: 0;
		height: auto;
		background-color:#FFFFFF;
		.header3{
			.middle-header{
				.conts-middle-header{
					height: 160px;
				}
			}
		}
	}
	.frame {
		box-sizing: border-box;
		margin: auto;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#navMenu{
		ul{
			//margin: 0;
			padding: 0;
		}
	}
	.nav-sections {
		background: transparent !important;
		.navigation {
			//overflow: hidden;
			background: transparent !important;
			max-width: inherit !important;
			.navigation-slider{
				.navFrame{
					width: ~'calc(100% - 200px)';
					margin: 0 100px;
					text-align: center;
					padding: 0 15px;
					// overflow-x: hidden;
					// overflow: visible;
				}
				.fa{
					top: 80px;
					bottom: auto;
					transition: all 0s;
					-webkit-transition: all 0s;
					-moz-transition: all 0s;
					-o-transition: all 0s;
					opacity: 1;
					visibility: visible;
					width: 25px;
					height: 25px;
					background: #f3f3f3;
					border-radius: 5px;
					position: relative;
					margin: 0;
					text-align: center;
					&-angle-left {
						left: 0;
						position: absolute;
					}
					&-angle-right {
						right: 0;
						position: absolute;
					}
					&::before{
						top: 50%;
						bottom: auto;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
					}
				}
			}
	
			.level0 {
				vertical-align: top;
				padding-top: 30px;
				width: 150px !important;
				margin: 0 40px 0 0;
				position: relative;
				a{
					color: #646464;
					text-decoration: none;
					i {
						width: 150px;
						height: 110px;
						display: flex;
						background: #f3f3f3;
						border-radius: 10px;
						position: relative;
						overflow: hidden;
						margin: 0 auto 15px;
						-webkit-transition: all .3s ease;
						-moz-transition: all .3s ease;
						-ms-transition: all .3s ease;
						-o-transition: all .3s ease;
						transition: all .3s ease;
						&::before{
							content: '';
							width: 80px;
							height: 80px;
							border-radius: 100%;
							margin: auto;
							background-color: #f56335;
							display: block;
						}
						&::after{
							content: '';
							position: absolute;
							width: 80px;
							height: 80px;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							background-position: center;
						}
						&.nav{
							&AllProducts{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/allProducts.svg');
								}
							}
							&AllBrand{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/brand.svg');
									left: 40px;
									top: 25px;
									background-size: cover;
								}
							}
							&Joint{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/joints.svg');
									left: 22px;
									top: 15px;
									background-size: cover;
								}
							}
							&Fish{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/fish-oil.svg');
									right: 30px;
									top: 25px;
									background-size: cover;
								}
							}
							&Women{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/woman.svg');
									left: 40px;
									top: 25px;
									background-size: cover;
								}
							}
							&Heart{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/heart.svg');
									left: 20px;
									top: 25px;
									background-size: cover;
								}
							}
							&Men{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/employee.svg');
									left: 0;
									top: 25px;
									background-size: cover;
								}
							}
							&Multi{
								&::after{
									content: '';
									background-image: url('@{baseDir}images/icon/multivitamin.svg');
									right: 40px;
									top: 25px;
									background-size: cover;
								}
							}
						}
					}
					.navText{
						color: #646464;
					}
					&:hover{
						text-decoration: none;
						color: #f56335;
					}
				}
				&.parent:hover{
					> a{
						text-decoration: none;
						color: #f56335;
						&:hover{
							text-decoration: none;
							color: #f56335;
						}
						i {
							box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.23);
							background: #FFFFFF;
							-webkit-transition: all .3s ease;
							-moz-transition: all .3s ease;
							-ms-transition: all .3s ease;
							-o-transition: all .3s ease;
							transition: all .3s ease;
						}
						.navText{
							text-decoration: none;
							color: #f56335;
						}
					}
					> .submenu {
						overflow: visible !important;
						display: block !important;
						//position: relative;
						li a{
							text-decoration: none;
							color: #646464;
							border-color:transparent;
							border-style: solid;
							border-width: 0 0 0 3px;
							&:hover{
								text-decoration: none;
								color: #f56335;
								border-color: #ff5501;
								background: transparent;
							}
						}
					}
				}
			}
		}
	}
}
.page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}