.rawleigh{
&.checkout-cart-index{
    .action{
        &.update{
                background: #19b5f1;
    border: 1px solid #19b5f1;
    font-family: 'Roboto-Regular';
    font-size: 20px !important;
    letter-spacing: 2px;
    
    color: #fff;
    border-radius: 20px;
    @media(max-width: 1400px) {
       
    font-size: 16px!important;

    }  
        }
    }
    .page-footer{
    margin-top:40px;
}
    .product-image-container-2{
         @media(max-width: 768px) {
       
    width: 70px!important;

    }  
    @media(max-width: 767px) {
       
    width: 40px!important;

    }  
    }
    .page-title-wrapper{
        .page-title{
            font-family: 'PlayfairDisplay-Bold';
    font-size: 55px;
      @media(max-width: 1400px) {
        font-size: 40px;

    }
      @media(max-width: 767px) {
        font-size: 29px;

    }
        }
    }
    .estimate{
                    display: grid;
                    background: #f3f9fd;
    padding: 5%;
    width: 90%;
     @media(max-width: 767px) {
         display: grid!important;
    width: 90%!important;

    }
    select{
        border-radius: 50px;
    background: transparent;
    }
    input{
        border-radius: 50px;
    background: transparent;
    }
                }
    .cart{
        &.table-wrapper{
            .item{
                .col{
                    text-align: center;
                    &.item{
                        width: 40%;display: table-cell;
                                   @media(max-width: 768px) {
          width: 35%;
    }
                    }
                }
            }
            .item-actions{
                
                        display: none;
                  
            }
            .col{
                border-top: 0px;
                text-align: center;
                fonts-size: 21px;
                text-transform: uppercase;
                @media(max-width: 1400px) {
           font-size: 16px;
    }
    @media(max-width: 767px) {
           font-size: 11px;
    }
                &.item{
                    width: 40%;
                text-align: left;
                }
                &.price[data-th]:before{
                        font-size: 10px;font-weight: 400;
                }
                &.price{
                    width: 15%;
                     @media(max-width: 767px) {
           width: 25%;
    }
                }
                &.qty[data-th]:before{
                        font-size: 10px;font-weight: 400;
                }
                &.qty{
                    width: 25%;
                    @media(max-width: 768px) { 
                width: 29%;

    }
     @media(max-width: 767px) {
                width: 46%;

    }

                    .input-text{

    height: 25px;width: 54px;
    @media(max-width: 768px) {
                width: 36px;
    font-size: 10px;

    }
    @media(max-width: 767px) {
                width: 45px;font-size: 11px;

    }
                    }
                }
                &.subtotal[data-th]:before{
                        font-size: 10px;font-weight: 400;
                }
                &.subtotal{
                    width: 25%;
                }
            }
            .items{
             display: grid;
             tbody:last-child{
border-radius: 0 0 10px 10px;
             }
             
             tbody{
    background: #fff;
    display: ;
        border-radius: 10px 10px 0 0;
    width: 100%;
        border-top: 0px;
    border-bottom: 0px;
    display: inline-table;
    button{
        &.increaseQty{
            background: transparent;
    font-weight: 400;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 0;
     @media(max-width: 1400px) {
                 width: 22px;
    height: 22px;

    }
    .fa-plus
            {
                    font-size: 11px;
    font-weight: 100;    font-family: 'FontAwesome';
    font-style: unset;
            }
        }
        &.decreaseQty{
            background: #00adef;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 0;
    @media(max-width: 1400px) {
                 width: 22px;
    height: 22px;

    }
    .fa-minus
            {
                    font-size: 9px;
    font-weight: 100;    font-family: 'FontAwesome';
    font-style: unset;
            }

        }
    }
    .price-excluding-tax{
        .price{
            font-size: 30px;
            @media(max-width: 1400px) {
          font-size: 20px;
    }
    @media(max-width: 768px) {
          font-size: 13px;
    }
    @media(max-width: 767px) {
          font-size: 11px;
    font-weight: 400;
    }
        }
    }
    .product-item-details{
        white-space: normal;
    
    
    @media(max-width: 767px) {
            width: 55px;word-break:break-word;
    }
        h4{
                color: #646464;
    text-transform: uppercase;
    font-size: 17px;margin-top: 0px;
    @media(max-width: 1400px) {
          font-size: 13px;
    }
    @media(max-width: 768px) {
          font-size: 11px;
    }
        }
        .product-item-name{
            a{
                    color: #130e2b;
    font-size: 26px;text-transform: none;
    @media(max-width: 1400px) {
          font-size: 18px;
    }
    @media(max-width: 768px) {
          font-size: 13px;
    }

            }
        }
    }
             }  
             tbody:first-child{
border-radius: 10px 10px 0 0;
             }
             thead {
                display: table;
             } 

            }
        }
    }
.page-wrapper{
    background-color: #f2f8fd;
}
.cart-container{
  .cart-summary{
    background: #ffff;width:30%;padding: 10px 20px;border-radius: 10px;
    @media(max-width: 767px) {
           width: 100%;
    }
    .title{
        strong{
        font-size: 22px;
    text-transform: uppercase;
    @media(max-width: 1400px) {
            font-size: 16px;
    }
        }
    }
    .block{ 
        .fieldset{
            .field[name="shippingAddress.region_id"]{
display: none;
            }
        }
        &.discount{
        .content{
        display:block!important;
        }
            .actions-toolbar{
                .primary{
                    .action{
                        &.apply{
                                background: transparent;
                            color: #19b6f1;
                            font-size: 10px;
                            letter-spacing: 2px;
                            border-radius: 50px;
                        }
                    }
                }
            }
            .fieldset{

                    display: block;
                    background: #f3f9fd;
                    padding: 5%;
                    width: 90%;

                    .field{
                        display: block;width: 100%;
                        .control{
                            input{
                                border-radius: 50px;
                                    background: transparent;
                            }
                        }
                    }
            }

        }

    }
}

.form-cart{
        width: 68%;
    
    border-radius: 10px;
    margin-right: 2%;
    @media(max-width: 767px) {
           width: 100%;
    }
    .cart{
        &.table-wrapper {
            .product-item-photo{
               
                @media(max-width: 768px) {
           left: 9px;max-width: 38px;top: 24px;
    }
            }
            .product-image-wrapper{
                .product-image-photo{
                     @media(max-width: 767px) {
            background-color: #eee;width: 40px;height: 40px;object-fit: contain;
    }

                   
    
                }
            }
        }

    }
}  
}


    .page-main{
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
} 
}

}