.rawleigh{

&.checkout-index-index{
    .page-footer{
    margin-top:40px;
}
    .action{
        &.action-apply{
            background: #19b5f1;
    border: 1px solid #19b5f1;
    font-family: 'Roboto-Regular';
    font-size: 20px !important;
    letter-spacing: 2px;
    padding: 8px !important;
    color:#fff;
    border-radius: 20px;
    @media(max-width: 1400px) {
       font-size:14px!important;
    }
        }
    }
     .checkout-payment-method{
        .payment-option-title{
            .action-toggle{
                    color: #3399cb;
            }
            .action-toggle:before{
                    color: #3399cb;
            }

        }
    }
    .minicart-wrapper{
        display: none;
    }
    .table-checkout-shipping-method{
        min-width: auto;
    }

    .checkout-shipping-address{
            margin-top: 40px;
    }
    .content {
        &.minicart-items{
            display: block!important;
            .product-image-wrapper{
                    width: 75px;
                    img{
                            max-width: fit-content;
                            height: auto;
                            border: 0;
                            aspect-ratio: 90 / 90;
                            width: 75px!important;
                            background: #ddd;
                    }
            }
        }
    }
    .actions-toolbar{
        margin-left: 0!important;
        .primary{
            width: 100%;
            .action{
                &.primary{
                  width: 100%;   
                }
            }
        }
    }
    .page-wrapper {
    background-color: #f2f8fd;
} 
     .page-main{
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
} 
.opc-progress-bar{
    text-align: center;
    margin-top: 90px;
}
.opc-progress-bar-item:before{
    background: #aeaeae;
}
.opc-progress-bar-item{
span:before{
        height: 25px;
    margin-left: -13px;
    width: 25px;
    border-radius: 50%;
    content: '';
    left: 50%;
    position: absolute;
    top: 7px;
}
span:after{
background: #aeaeae;
        height: 25px;
    margin-left: -13px;
    width: 25px;
    border-radius: 50%;
    content: '';
    left: 50%;
    position: absolute;
    top: 7px;
}
&._active{
span:after{
    content:none;
}
    span:before{
    background: #3399cb;
    }
}
    &._active:before{
    background: #3399cb;
    }
}
.opc-sidebar{
  
}
.opc-wrapper{
    @media(max-width: 768px) {
          width: 60%;
    }
    @media(max-width: 767px) {
          width: 100%;
    }
    .action-show-popup{
            font-family: 'Roboto-Regular';
    letter-spacing: 2px;
    border: solid 1px #19b5f1;
   
    background: #19b5f1;
    text-transform: uppercase;
    border-radius: 50px;
    color: #fff;

    }
       
    .step-content{
        margin: 0 0 40px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    }

    .shipping-address-item{
         width: 100%;

        &.selected-item:after{
            background: #3399cb;
    }
        &.selected-item{
                border-color: #3399cb;
    width: 100%;
        }
    }
}
.opc-block-summary{
    .table-totals{
        .grand{
            th{
              padding: 6px 10px;  
            }
        }
        tbody{
            .mark{
                padding: 6px 10px;
            }
            .amount{
                padding: 6px 10px;

            }
        }
    }
    padding: 0;
    > .title{
    display: block;
    background: #3399cb;
    color: #fff;
    font-size: 28px;
    padding: 10px 20px;
    text-transform: uppercase;
    @media(max-width: 1400px) {
     font-size: 17px;
    }
    }
    .block{
        &.items-in-cart{
            padding: 10px 20px;
                background: #fff;
    border-radius: 0 0 10px 10px;
        }
    }
}
}

}