@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(../fonts/playfair-display/PlayfairDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(../fonts/playfair-display/PlayfairDisplay-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    
}



.rawleigh {

    .owl-theme {
    .owl-controls {
        margin-top: 10px;
        text-align: center;
        .owl-buttons {
            div {
                color: #FFF;
                display: inline-block;
                zoom: 1;
                *display: inline;
                margin: 5px;
                padding: 3px 10px;
                font-size: 12px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                background: #869791;
                filter: Alpha(Opacity=50);
                opacity: 0.5;
            }
        }
        .owl-page {
            display: inline-block;
            zoom: 1;
            *display: inline;
            span {
                display: block;
                width: 12px;
                height: 12px;
                margin: 5px 7px;
                filter: Alpha(Opacity=50);
                opacity: 0.5;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background:  #3499cb;
            }
            span.owl-numbers {
                height: auto;
                width: auto;
                color: #FFF;
                padding: 2px 10px;
                font-size: 12px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
            }
        }
        .owl-page.active {
            span {
                filter: Alpha(Opacity=100);
                opacity: 1;
            }
        }
    }
    .owl-controls.clickable {
        .owl-buttons {
            div {
                &:hover {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
        .owl-page {
            &:hover {
                span {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                }
            }
        }
    }
}
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center;
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/* display none until init */
/* mouse grab icon */
/* fix */
.owl-carousel {
    .owl-wrapper {
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        
        position: relative;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
    display: block;
    position: relative;
    width: 100%;
    opacity:1!important;
    -ms-touch-action: pan-y;
    .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .owl-wrapper-outer.autoHeight {
        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    .owl-item {
        float: left;
        height: 270px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        .item{
            img{
                max-width: 90%;margin: 0 5%;
            }
            .youtubeic{
    position: absolute;pointer-events: auto;
    width: 48px;
    height: 46px;
    transform: translateY(-50%);
    top: 50%;
    left: 44%;
    height: 38px;
    border: 0px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 0px;
    background: transparent;
    margin-top: 10px;
    cursor: pointer;
    background-image: url(../images/youtube.png);
    background-repeat: no-repeat;
    background-position: bottom center;
            }
            
        }
    }
}
.owl-controls {
    .owl-page {
        cursor: pointer;

    }
    .owl-buttons {
        div {
            cursor: pointer;
        }
    }
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


    .owl-theme {
    .owl-controls {
        margin-top: 10px;
        text-align: center;
        .owl-buttons {
            div {
                color: #FFF;
                display: inline-block;
                zoom: 1;
                *display: inline;
                margin: 5px;
                padding: 3px 10px;
                font-size: 12px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                background: #869791;
                filter: Alpha(Opacity=50);
                opacity: 0.5;
            }
        }
        .owl-page {
            display: inline-block;
            zoom: 1;
            *display: inline;
            span {
                display: block;
                width: 12px;
                height: 12px;
                margin: 5px 7px;
                filter: Alpha(Opacity=50);
                opacity: 0.5;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background:  #3499cb;
            }
            span.owl-numbers {
                height: auto;
                width: auto;
                color: #FFF;
                padding: 2px 10px;
                font-size: 12px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
            }
        }
        .owl-page.active {
            span {
                filter: Alpha(Opacity=100);
                opacity: 1;
            }
        }
    }
    .owl-controls.clickable {
        .owl-buttons {
            div {
                &:hover {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
        .owl-page {
            &:hover {
                span {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                }
            }
        }
    }
}
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center;
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/* display none until init */
/* mouse grab icon */
/* fix */
.owl-carousel {
    .owl-wrapper {
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        
        position: relative;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }
    display: block;
    position: relative;
    width: 100%;
    opacity:1!important;
    -ms-touch-action: pan-y;
    .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .owl-wrapper-outer.autoHeight {
        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }
    .owl-item {
        float: left;
        height: 270px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        .item{
            img{
                max-width: 90%;margin: 0 5%;
            }
            .youtubeic{
    position: absolute;pointer-events: auto;
    width: 48px;
    height: 46px;
    transform: translateY(-50%);
    top: 50%;
    left: 44%;
    height: 38px;
    border: 0px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 0px;
    background: transparent;
    margin-top: 10px;
    cursor: pointer;
    background-image: url(../images/youtube.png);
    background-repeat: no-repeat;
    background-position: bottom center;
            }
            
        }
    }
}
.owl-controls {
    .owl-page {
        cursor: pointer;

    }
    .owl-buttons {
        div {
            cursor: pointer;
        }
    }
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
}
#scroll-down {
    &:hover {
        cursor: pointer;
    }
    &:focus {
        cursor: pointer;
    }
    display: inline-block;
    position: relative;
    padding-top: 27px;
    text-align: center;
    &::before {
        -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
            position: absolute;
    top: 0px;
    left: 51%;
    margin-left: -1px;
    width: 1px;
    height: 40px;
        background: #000000;
        content: ' ';
    }
}
#arrow-wrapper {
    display: table;
    width: 20px;
    height: 67px;
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 96px;
    cursor: pointer;
    @media(max-width: 1400px) {
     top: 90%;
    left: 70px;
    }
    @media(max-width: 1200px) {
     top: 65%;
    left: 70px;
    }
    @media(max-width: 768px) {
     top: 49%;
    left: 70px;
    }
    @media(max-width: 620px) {
    top: 56%;
    left: 35px;
    }
}
#arrow-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 25px;
    &:after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        width: 12px;
        height: 12px;
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        behavior: url(-ms-transform.htc);
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}







    ::-moz-selection{
    background-color:#3499cb;
}
::selection{
    background-color:#3499cb;
}
    .modal-inner-wrap{
        .modal-footer{
            button{
                &.action-secondary{
                    font-family: 'Roboto-Regular';
                    border-radius: 50px;padding: 12px 30px;
                }
                 &.action-primary{
                    font-family: 'Roboto-Regular';
                    border-radius: 50px;padding: 12px 30px;
                    background-color:#3499cb;border: solid 1px #3499cb;
                }
                &.action-primary:hover{
                    background-color:#3499cb;border: solid 1px #3499cb; 
                }
            }
        }
    }
    .columns{
         .column.main{
            padding-bottom: 0px;
         }
    }
    .block-products-list{
        margin-bottom: 0px;
    }
    .block-static-block{
        &.widget{
            margin-bottom: 0px;
        }

    }
    .sparsh_banner{
        margin-bottom: 0px;

    .sparsh_banner_slider{
        .caption{
            h2{
                font-size: 80px;
                font-weight: bold;
                font-family: 'PlayfairDisplay-Bold';
                margin-bottom: 0px;
                text-transform: none;
                width: 51%;
              margin-left: 15%;
              @media(max-width: 1400px) {
           font-size: 55px; width: 37%;
    }
     @media(max-width: 768px) {
           font-size: 26px;
    line-height: 33px;
    }
            }
            p{
                    font-size: 24px;
                    color: #000;
                    font-weight: 400;
                    line-height: 24px;
                    max-width: 410px;
                    margin-bottom: 3rem;
                    margin-left: 15%;
                    @media(max-width: 1400px) {
           font-size: 16px;
    }
            }
            .btn-banner{
                border: 1px solid #000;
                letter-spacing: 2px;
                margin-left: 15%;
                font-size: 18px;
                border-radius: 50px;
                padding: 10px 20px;
                font-weight: 400;
                text-transform: uppercase;
                width: fit-content;
                height: auto;
                line-height: 20px;
                text-align: center;
                color: #000;
                display: block;
                text-decoration: none;
                @media(max-width: 1400px) {
           font-size: 14px;
    }
            }
            .btn-banner:hover{
            color: #fff!important;
            }
        }
    }
    }


.vid-wrapper {
    text-align: center;
    padding: 0px;
}
.vid {
    display: inline-block;
    width: 95%;
    vertical-align: top;
    position: relative;
    padding: 2px;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
h2.vid-head {
    font-size: 20px;
    color: #333;
}
.video-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background: rgba(0, 0, 0, .7);
    cursor: pointer;
    display: none !important;
}
.video-popup.show-video {
    display: flex !important;
}
.iframe-wrapper {
    position: relative;
    width: 55%;
    @media(max-width: 767px) {
           width: 90%;
    }
.close-video:before {
     content: "\f00d";
    font-size: 16px;
    color: #ffff;
    
    padding-left: 6px;
}

    .close-video {
       font-family: 'FontAwesome';
        position: absolute;
        width: 25px;
        height: 25px;
           top: -13px;
    right: -8px;
        
    background: #3499cb;
        border-radius: 50%;
        background-size: cover;
    }
}





    .product-item{
        .minimal-price-link{
            display: none;
        }
        .product-reviews-summary{
            .reviews-actions {
                a{
                    display: none;
                }
            }
        }
        .price-box{
            display: inline-flex;
        }
    }
    .nav-container{
        
.ResHover{
    &.ResHovered{
           .resCarousel-inner{
            min-height: 300px;
        } 
        }
        .resCarousel-inner{
            min-height: auto;
        } 
         
}
       
    }
    .bestsellerhome{
           &.resCarousel-inner{
            width: 90%;margin:auto!important;
             .product-item{
            width: 20%!important;margin-left:0px!important;margin-right: 0px!important;
            @media(max-width: 768px) {
           width: 33%!important;
    }
    @media(max-width: 480px) {
           width: 49%!important;
    }
    .tile{
        margin: 5px;width:auto;background-color:#fff;
        img{
                height: 168px;
                padding: 30px 0 0 0;
        }
        .price-box{
            .price{
                font-weight:600;
            }
        }

    }
    .tile:hover{
            background-color: #3499cb;
            .action{
                &.primary{
                    background:#fff; 
                }
                &.primary:before{
 background-image: url(../images/car-blue.png);
                }
            }
    }
    .product-item-info{
        .product-item-details{
            position:relative;height: 100px;
        }
    }
    .action{
        &.primary:before{
            background-image: url(../images/car-white.png);
    background-repeat: no-repeat;
    background-position:center center;
    content: '';
    color: transparent;
    width: 28px;
    height: 17px;
    padding-right: 29px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-size: 80%;
    margin-left: -14px;font-size: 14px;
    @media(max-width: 768px) {
            margin-left: -9px;
    }
        }

&.primary{
                font-size: 0px!important;
                position: absolute;
    width: 36px;
    bottom: -34px;
    transform: translateY(-50%);
    /* top: 36%; */
    left: 39%;
    height: 36px;
    border: solid 1px #3399cb;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    background: #3399cb;
    margin-top: 10px;
    cursor: pointer;
            }
        }
        }
        
        }
    }
    .recommendhome{
        &.resCarousel-inner{
            width: 90%;margin:auto!important;min-height: 420px;
            @media(max-width: 1400px) {
           min-height: 420px;
    }
             .product-item{
            width: 20%!important;margin-left:0px!important;margin-right: 0px!important;
             
            @media(max-width: 768px) {
           width: 33%!important;
    }
    @media(max-width: 480px) {
           width: 49%!important;
    }
    .tile{
        margin: 5px;width:auto;
        img{
                height: 168px;
                padding: 30px 0 0 0;
        }
        .product-image-wrapper{
           padding-bottom: 90%!important;
        }
        .price-box{
            .price{
                font-weight:600;
            }
        }

    }
    .tile:hover{
            background-color: #3499cb;
            .action{
                &.primary{
                    background:#fff; 
                }
                &.primary:before{
 background-image: url(../images/car-blue.png);
                }
            }
    }
    .product-item-info{
        .product-item-details{
            position:relative;height: 140px;
        }
    }
    .action{
        &.primary:before{
            background-image: url(../images/car-white.png);
    background-repeat: no-repeat;
    background-position:center center;
    content: '';
    color: transparent;
    width: 28px;
    height: 17px;
    padding-right: 29px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-size: 80%;
    margin-left: -14px;font-size: 14px;
    @media(max-width: 768px) {
            margin-left: -9px;
    }
        }

&.primary{
                font-size: 0px!important;
                position: absolute;
    width: 36px;
    bottom: -34px;
    transform: translateY(-50%);
    /* top: 36%; */
    left: 39%;
    height: 36px;
    border: solid 1px #3399cb;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    background: #3399cb;
    margin-top: 10px;
    cursor: pointer;
            }
        }
        }
        
        }
    }
    .breadcrumbs{
        max-width: 100%;
    }
    .page-bottom{
        background: #f2f8fd;
        padding-left: 0px;
    padding-right: 0px;
    width: 100%;max-width: 100%;
    }
    .message{
        &.notice{
            a{
                color:#3499cb;
            }



             margin: 0 0 10px;
                    padding: 12px 20px 12px 25px;
                    display: block;
                    font-size: 1.3rem;
                    background: #dbeaf1;
                    color: #333;
                    padding-left: 45px;
                    position: relative;
                    > *:first-child:before{
                            color: #3399cb;
                    } 

        }
            &.success{
                  margin: 0 0 10px;
                    padding: 12px 20px 12px 25px;
                    display: block;
                    font-size: 1.3rem;
                    background: #dbeaf1;
                    color: #333;
                    padding-left: 45px;
                    position: relative;
                    > *:first-child:before{
                            color: #3399cb;
                    } 
            }
            &.info{
                    margin: 0 0 10px;
                    padding: 12px 20px 12px 25px;
                    display: block;
                    font-size: 1.3rem;
                    background: #dbeaf1;
                    color: #333;
                    padding-left: 45px;
                    position: relative;
                    > *:first-child:before{
                            color: #3399cb;
                    }
            }
        }
    .rating-summary{
         .rating-result{
            span:before{
                    color: #ffc107;
            }
         }
    }
    .breadcrumbs{
        .items{
                border-bottom: solid 1px #aaa;
    padding-bottom: 10px;
        }
    }
    .message{
        &.success{
            a{
                color: #3399cb;
            }
        }
    }
    .about-content{
        width:50%;float:left;
        p{
            line-height: 24px;font-size: 18px;
            @media(max-width: 1400px) {
                font-size: 14px !important;

    }
        }
    }
    .breadcrumbs{
        .item:not(:last-child)::after{
            font-size: 12px;
        }
        .item{
            font-size: 21px;color: #414141;
            @media(max-width: 1400px) {
                font-size: 14px !important;

    }
        }
        a{
        color: #414141!important;
    }
    } 
    a{
        color:#414141;
    }
    .alink{
        color:#19b5f1; 
    }
    .action{font-family: 'Roboto-Regular';letter-spacing: 2px;
        font-weight: 600;
        &.viewcart{
                background: #19b5f1;
    border: 1px solid #19b5f1;
    font-family: 'Roboto-Regular';
    font-size: 16px !important;
    letter-spacing: 2px;
    padding: 8px !important;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    /* font-size: 14px; */
    display: block;
    margin-bottom: 15px;
    
    @media(max-width: 1400px) {
                font-size: 14px !important;

    }
        }
        &.primary:hover{
          background: #19b5f1; border: solid 1px #19b5f1; 
        }
        &.primary{
            font-family: 'Roboto-Regular';letter-spacing: 2px;
                border: solid 1px #19b5f1;
    background: #19b5f1;
                        border-radius: 50px;font-size: 20px!important;
                        @media(max-width: 1400px) {
                             font-size: 14px!important;
                             line-height: 14px;
    }
    @media(max-width: 768px) {
                             font-size: 11px;    padding: 12px 10px;
    }
                    &.checkout{
                                background: #19b5f1;
                                border: 1px solid #19b5f1;
                                font-family: 'Roboto-Regular';
                                font-size: 16px!important;
                                letter-spacing: 2px;
                                padding: 8px!important;
                                @media(max-width: 1400px) {
                font-size: 14px !important;

    }
                    }
                }
    }
    .page-header{
        background-color: #fff;
    }
    .nav-sections-item-content{
        .navigation{
            display: none;
        }
    }
    .navigation{
         .level0 {
            .level-top{
                    color: #646464;
    line-height: 20px;
    font-weight: 400!important;
            }
         }
    }
    .nav-container{
        .leftRs{
            margin-top: 50px;
        }
        .rightRs{
            margin-top: 50px;
        }
    }
}

.rawleigh{
    .block-search .label:before{
            padding-top: 3px;
    padding-right: 26px;
    font-size: 16px;
    }
    .block-search .label {
    margin-top: 0px;
    position: absolute;
    right: 0;
}
   .nav-toggle{
    @media(max-width: 767px) {
        display: none;
                      

    }
} 
}



.navigation{
    display: none;
}
/*nav start*/
#scene {
    width: 900px;
}
#main {
    width: 100%;
    margin-right: auto;
   height: 150px;
   @media(max-width: 1400px) {
    height: 125px;
             }

    #navMenu {
   
        position: relative;
        #navMenu-wrapper {
            overflow: hidden;
            height: auto;
            padding: 0 30px;
            @media(max-width: 768px) {
          padding: 0px 0px;
    }
        }
        ul {
            li {
                display: inline-flex;
                margin: 0px 0px;
               
                .cate:before{
                    content: '';
    background-image: url(../images/nav1.png);box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                .cate:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
                .diet:before{
                    content: '';box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-image: url(../images/nav2.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                 .diet:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
                .traditional:before{
                    content: '';box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-image: url(../images/nav3.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                 .traditional:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
                    .special-food:before{
                    content: '';box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-image: url(../images/nav4.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                .special-food:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
                .kids-bumdle:before{
                    content: '';box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-image: url(../images/nav5.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                .kids-bumdle:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
                .special-price:before{
                    content: '';box-shadow: -6px 14px 37px 0px #c1d8e4;
    background-image: url(../images/nav6.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: block;
    margin: auto;
    padding: 0px;
    bottom: 123px;
    z-index: 999999999;
    width: 50px;
    border: solid 8px #e1eff9;
    border-radius: 81px;
    height: 50px;
                }
                .special-price:hover:before{ 
                    border-color: transparent;background-color:transparent;box-shadow: none;
                }
            }
        }
    }
    #menuSelector {
        position: relative;
        margin-left: -5px;
        top: -1px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #EFEBE8;
    }
    p {
        color: #646464;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    a {
            color: #646464;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  height: 118px;
    /* margin-top: 100px; */
    /* position: absolute; */
   text-align: center;
    width: 66%;
        margin: auto;
    display: block;
    font-size: 21px;
    @media(max-width: 1400px) {
          font-size: 15px;
          height: 99px;
    }
    @media(max-width: 767px) {
           width: 114px;
    }
    @media(max-width: 420px) {
           font-size: 12px;
    }
    }
}
#navMenu-items {
    margin: 0 20px;
    padding: 1px 0;
    list-style: none;
    
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


.slick-prev {
    transform: rotate(180deg);
    left: 0;
}
.icon-chevronleft:before{
        content: '\f104';
    font-family: 'FontAwesome';
    font-size: 16px;
}
.icon-chevronright:before {
       content: '\f105';
    font-family: 'FontAwesome';
    font-size: 16px;
}
.navMenu-paddle-left {
    cursor: pointer;font-size: 16px;
    border: none;
    position: absolute;
    top: 50px;
        background: #f7f7f7;
    width: 25px;
    height: 25px;
    margin-left: auto;
    border-radius: 50px;
    margin-right: auto;
    left: 0;
    padding: 0;
}
.navMenu-paddle-right {
    cursor: pointer;font-size: 16px;
    border: none;
    position: absolute;
    top: 50px;
    background-color:#3399cb;
    color: #fff;
    width: 25px;
    height: 25px;
    margin-left: auto;
      border-radius: 50px;
    margin-right: auto;
    right: 0; padding: 0;
}
.arrow {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
.slick-next {
    right: 0;
}



/*nav end*/
 .call-chat:hover{
    right:-124px;
   
    span{
       color: #fff;
    margin-top: -134px;
    position: fixed;
    transform: rotate(
90deg);
    
    display: block;
    margin-right: -57px;
    height: 24px;
    width: 270px;
    padding: 16px 20px;
    background-color: #09557c;
    -webkit-transition-duration: 0.3s;
    right: 0;
    letter-spacing: 1px;
    border-radius: 50px 0 0 50px;
    -moz-transition-duration: 0.3s;
    font-size: 18px;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    a{
        color:#fff;
    }
    }
 }
 .call-chat:before{
         content: 'CAll';
    font-size: 24px;
    color: #fff;
    padding: 30px 56px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
.call-chat{
   top: 53%;
       transform: rotate(269deg);
    background-color: #08557c;
    width: 180px;
    border-radius: 50px;
    height: 66px;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 99999;
    right: -55px;
    float: right;
    background-size: 70%;
    background-position: top right;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
     @media(max-width: 420px) {
       top: 30%;             

    }
    span{
       right: 0;width: 50px;display: none;
    }
}
.header-topdiv{
    font-family: 'Roboto-Regular';
    width: 100%;
    height: 24px;
    background-color: #3499cb;
    font-size: 16px;
    color: #fff;
    position: fixed;
    padding: 5px;
    z-index: 9;
    top: 0;
    @media(max-width: 1400px) {
                            font-size: 13px;
                      

    }
    @media(max-width: 767px) {
                            font-size: 13px;
                      

    }
}

.page-main
       {padding-left:0px!important;padding-right: 0px!important;
       }

.rawleigh {
       
            .page-wrapper{
                .page-header{
                    .panel{
                        &.header{
                            display:none;
                        }
                    }
                    .header{
                        &.content{
                            max-width: 100%;margin: auto;padding: 30px 0;
                            @media(max-width: 1400px) {
                            padding: 30px 15px;
                      }
                                                @media (min-width: 768px) {
                                max-width: 720px;
                            }

                            @media (min-width: 992px) {
                                max-width: 960px;
                            }

                            @media (min-width: 1200px) {
                                max-width: 1140px;
                            }

                            @media screen and (min-width: 1366px) {
                                max-width: 1166px;
                            }

                            @media (min-width: 1440px) {
                                max-width: 1240px;
                            }

                            @media (min-width: 1600px) {
                                max-width: 1400px;
                            }

                            @media(min-width: 1920px) {
                                max-width: 1720px;
                            }
                             .minicart-wrapper {
                                .minicart-items{
                                    .item-qty{
                                            text-align: center;
                                        width: 45px;
                                        height: 25px;
                                        border-radius: 50px;
                                    }
                                    .product-item-name{
                                        a{
                                                color: #43a1d1;
                                        }
                                    }
                                    .action{
                                        &.edit:before{
                                             font-size: 14px;
                                        }
                                        &.delete:before{
                                            font-size: 14px;
                                        }
                                    }
                                    .product {
                                        .toggle:after{
                                            font-size: 14px;
                                        }

                                    }
                                }
                                .product-image-container{
                                        width: 75px!important;
                                border: solid 1px #eee;
                                }
                                .action{
                                    &.close:before{
                                    font-size: 14px;
                                    }
                                }
                                &.cart_part{
                                    .devider{
                                        border-left: solid 1px #ccc;
                                padding-left: 20px;
                                    }
                                   float:right ;
                                   position: relative;display: flex;padding-top: 20px;
                                   .authorization-link{
                                    display: inline-block;position:relative;
                                    
                                    padding-right: 30px;
                                    &.odd{
                                        line-height: 38px;
                                    }
                                   }
                                    .authorization-link:hover{
                                        .MyAccountHoverDiv {

                                            display:block;
                                        }
                                    }
                                   .MyAccountHoverDiv {
                                    display: none;
                                    position: absolute;
                                    top: 30px;
                                    left: -25px;
                                    width: 150px;
                                    background: #f2f8fd;
                                    padding: 10px;
                                    z-index: 99;
                                   

                                    li{
                                        list-style: none;
                                        display: inline-block;
                                        width: 100%;
                                        border-bottom: 1px solid #c5c5c5;
                                        line-height: 20px;
                                        font-size: 14px;
                                        text-align: left;
                                        letter-spacing: 1px;
                                    }
                                    }

                                   .action{
                                         


                                    &.showcart:before{
                                       background-image: url(../images/cart.png);
                                        background-repeat: no-repeat;
                                        background-position: bottom center;
                                         content: ''; 
                                        color: transparent;
                                        width: 28px;
                                        height: 28px;
                                        padding-right: 0px;
                                        line-height: 28px;
                                        vertical-align: text-bottom;
                                        @media(max-width: 1400px) {
                                   background-size: 80%;
                      

                              }
                              }
                                   &.login-user:before{
                                       background-image: url(../images/user.png);
                                        background-repeat: no-repeat;
                                        background-position: bottom center;
                                        content: ''; 
                                        color: transparent;
                                        width: 28px;
                                        height: 31px;
                                        padding-right: 29px;
                                        line-height: 28px;
                                        vertical-align: text-bottom;
                                        @media(max-width: 1400px) {
                            background-size: 60%;
                      

                              }
                              }
                &.showcart{
                        font-size: 18px;
                        border: none;
                        text-align: right;
                        right: 0;
                        color: #646464;
                        
                            letter-spacing: 0px;
                        padding-top: 0px;
                        .text{
                            clip: auto;
                            overflow: inherit;padding-left: 5px;
                            font-weight: 400;padding-top: 12px;
                        }
                     
                            @media(max-width: 1400px) {
                            font-size: 13px;
                      }
    
                      .counter-number{
                                background: #3399cb;
                                margin-top: 6px;
                                padding: unset;
                                border-radius: 10px;
                                color: #fff;
                                margin-left: -13px;
                                font-size: 9px;
                                position: absolute;
                                line-height: 17px;
                                height: 15px;
                                display: inherit;
                                width: 15px;
                                letter-spacing: 0px;
                                text-align: center;
                      }
                      .counter{
                        &.qty{
                            background-color:transparent;display: inline-block;
                        }
                      }
   
                }
                    &.login-user{
                        font-size: 18px;
                        border: none;
                        text-align: right;
                        right: 0;
                        color: #646464;
                      font-weight: 400;
                        letter-spacing: 0px;
                        padding-top: 20px;
                        .text{
                            clip: auto;
                            overflow: inherit;
                        }
                     
                            @media(max-width: 1400px) {
                            font-size: 13px;
                      }
    

   
                }

               }
            }
         
            }
                            .block-search{
                                float: left;
                                padding-top: 22px;margin-left: 0px;width: 375px;
                                @media(max-width: 768px) {
                            width: 96%;
                        margin-left: 2%;
                      }
                                .control{
                                    padding: 0 0 12px;
                                }
                                .actions{
                                    .action{
                                        &.search:before{
                                            color: #646464;
                                            font-size: 14px;
                                            line-height: 40px;
                                            padding-top: 17px;
                                        }
                                        &.search:hover:before{
                                                color: #3399cb;
                                        }
                                    }
                                }
                                .nested{
                                    position: initial;
                                }
                                .field{
                                    &.search{
                                        .control{
                                            .action {
                                                &.advanced{
                                                   font-size: 0px;
                                                    position: absolute;
                                                    float: right;
                                                    top: 0px;
                                                    right: 0;
                                                }
                                            
                                            }

                                            .input-text::placeholder {
                                                opacity: 50%;color: #646464;
                                            }

                                            .input-text{
                                                margin: 0;
                                                padding-right: 45px;
                                                position: static;
                                                border-color: #3499cb;
                                                height: 40px;
                                                border-radius: 5px;
                                                padding-left: 15px;
                                                font-size: 14px;
                                                border-width: 1px;
                                                box-shadow: none;
                                                width: 100%;
                                                font-family: 'Roboto-Regular';
                                            }
                                        }
                                    }
                                }
                            }
                            .logo{
                                     position: fixed;
                                        width: 270px;
                                        z-index: 99;
                                        height: 100px;
                                        margin: auto;
                                        /* padding: 10px; */
                                        /* border: 5px solid #ccc; */
                                        background-color: transparent;
                                        left: calc(0vw);
                                        right: calc(0vw);
                                        margin-left: auto;
                                        margin-right: auto;
                                        top: 0;
                                        @media (max-width: 1400px) {
                                        width: 208px;
                                        }
                                        @media (max-width: 767px) {
                                               width: 120px;
                                                float: left;
                                                right: auto;
                                                top: 34px;
                                        }
                                        img{
                                            width: 210px;
                                            @media (max-width: 767px) {
                                            width: 132px;
                                        }
                                        }

                            }
                        }

                    }
                }

            }


}
.rawleigh{
    &.cms-home{
        .page-main{
             max-width: 100%!important;
        }

    }


     .page-main{
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
} 
}
.rawleigh{

 .container{
    width: 100%;margin: auto;
    @media (min-width: 768px) {
            max-width: 720px;
        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
}   
}


.heading{
     text-align: center;font-family: 'Roboto-Medium';
    font-size: 36px;
    color: #130e2b;padding-bottom: 2px;
    display: block;
    font-weight: 400;
    @media(max-width: 1400px) {
    font-size: 30px;
             }
}
.sub-heading:after{
        content: '\f105';
    font-family: 'FontAwesome';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    color: #646464;
        line-height: 18px;
    padding-left: 10px;
}
.sub-heading{
   text-align: center;
    font-size: 18px;
    color: #646464;
    padding-bottom: 30px;
    padding-top: 10px;
     @media(max-width: 1400px) {
    font-size: 14px;
             } 
}
.home-banner{
    position: relative;background-color: #f2f8fd;
    .scroll{
        position: absolute;
        background-image: url(../images/scroll.png);
        background-repeat: no-repeat;
    width: 59px;
    height: 120px;
    transform: translateY(-50%);
    top: 81%;
    left: 6%;
        background-size: 62%;cursor: pointer;
    }
    img{
        width: 100%;
    }
    .homebannertext{
        position: absolute;
    width: 37%;
    transform: translateY(-50%);
    top: 36%;
    left: 18%;
    @media(max-width: 420px) {
    width: 68%;
             }
        h2{
            font-size: 80px;
    font-weight: bold;
    font-family: 'PlayfairDisplay-Bold';
    margin-bottom: 0px;
    @media(max-width: 1400px) {
    font-size: 55px;
             }
             @media(max-width: 768px) {
    font-size: 35px;
             }
             @media(max-width: 420px) {
    font-size: 17px;
             }
    }
        
        p{
            font-size: 24px;padding-bottom: 20px;
            @media(max-width: 1400px) {
    font-size: 16px;
             }
             @media(max-width: 768px) {
    font-size: 12px;padding-bottom: 0px;
             }
    }
    .discover-product{
            border: solid 1px #000;
            color: #000;
    padding: 10px 20px;
    border-radius: 21px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
     @media(max-width: 1400px) {
    font-size: 12px;
             }
             @media(max-width: 420px) {
    font-size: 10px;padding: 4px 20px;
             }
        }
    }
    }


/*home page rawleigh blog start*/
   .outer-blog-heading:after{
        content: '\f105';
    font-family: 'FontAwesome';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    color: #646464;
    font-size: 16px;
    line-height: 38px;
    }

.blog-outer{
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    @media(max-width: 1400px) {
    margin-bottom: 40px;
             }
 
    .outer-blog-heading{
    text-align: center;
    font-size: 18px;
    color: #646464;
    padding-bottom: 0px;
    padding-top: 10px;
     @media(max-width: 1400px) {
    font-size: 14px;
             }


    }
    .main-heading{
            text-align: center;
    font-size: 36px;
    color: #130e2b;
    @media(max-width: 1400px) {
    font-size: 30px;
             }
    }
    .viewmore{
                text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    padding-left: 20px;
    font-weight: 600;
    display: flex;
    letter-spacing: 1px;
    cursor: pointer;
    background: #3399cb;
    text-align: center;
    padding: 15px 30px;
    border-radius: 50px;
   
    width: 75px;
    margin: 30px auto;margin-bottom: 0px;
    }
    .blog-box{
            width:28%;height:auto;margin:2.6%;margin-bottom: 40px;
            padding-bottom: 20px;
            float:left;border-radius:0px;
            position:relative;
            box-shadow: 3px 11px 37px -2px #d0e1ea;background: #fff;margin-top:0px;
            img{
                width: 100%;
            }
            .readmore{
                text-transform: uppercase;letter-spacing: 1px;
                text-decoration: underline;
                font-size: 14px;
                color: #3399cb;padding-left: 20px;font-weight: 600;cursor: pointer;
            }
            .boxdate:before{
                    content: '\f073';
                    font-family: 'FontAwesome';
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: 400;
                    overflow: hidden;
                    padding-right: 10px;
                    text-align: center;
                    color: #424242;
                    float: left;
                    height: 33px;
                    font-size: 20px;
                    line-height: 22px;
            }
              .boxdate{
                padding-left: 20px;
                margin-top: 20px;
                font-size: 24px;
                text-transform: uppercase;
                @media(max-width: 1400px) {
         font-size: 18px;
             }
             }
             
              @media(max-width: 768px) {
        width:44%;
             }
             @media(max-width: 420px) {
        width: 76%;
    margin-left: 50px;
    
             }
             p{
                font-size: 24px;
                padding-left: 20px;
                padding-right: 20px;
                @media(max-width: 1400px) {
        font-size: 18px;
    
             }
             }

            .heading{
                font-family: 'PlayfairDisplay-Regular';
                font-weight: bold;
                color: #424242;
                min-height:56px;
                padding-top: 10px;
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 29px;
                @media(max-width: 1400px) {
                        font-size: 19px;
             }
              @media(max-width: 767px) {
                        font-size: 17px;
             }
             
            }
            .posted-blog:before{
                content: '\f2c0';
                font-family: 'FontAwesome';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: 400;
                overflow: hidden;
                padding-right: 10px;
                text-align: center;
                color: #424242;
                float: left;
                height: 33px;
                font-size: 14px;
                line-height: 22px;
            }
            .posted-blog{
                font-size: 13px;
                margin-left: 30px;
                margin-right: 20px;
                padding-top: 10px;
                margin-top: 10px;
                border-top: solid 1px #eee;
             }
            .blog-date{
                    position: absolute;
                    background: #3399cb;
                    color: #fff;
                    width: 65px;
                    height: 65px;
                    border-radius: 100px;
                    padding: 10px;
                    left: -43px;
                    font-size: 14px;
                    text-align: center;
                    top: 15px;
                    .date{
                        font-size: 21px;
                        @media(max-width: 1400px) {
                        font-size: 15px;
             }
                    }
                    @media(max-width: 1400px) {
                        font-size: 12px;
                          width: 55px;
                    height: 55px;
             }
            }
            .blog-img-box{
                    padding: 7%;position:absolute;padding-top:25px;width: 86%;
                    .blogimg{
                        width: 100%;
                    }
                    .arrow:before{
                                    content: '';
                                     background-image: url(../images/arrow-blog.png);
                                    background-repeat: no-repeat;
                                        background-position: bottom center;
                                         content: ''; 
                                        color: transparent;
                                        width: 24px;
                                        height: 20px;
                                        padding-right: 29px;
                                        line-height: 45px;
                                        vertical-align: text-bottom;
                                        background-size: 80%;
                                }
                    .arrow{
                        width: 45px;
                        height: 45px;
                        border: solid 1px #3399cb;
                        display: block;
                        text-align: center;
                        margin: auto;
                        border-radius: 100px;
                        background: #3399cb;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                   }

   }
    
}

/*testimonial*/
.testimonial-outer{
    position:relative;height:300px;margin-bottom:40px;
    .testimonial-inner{
    width:100%;background-color:#0b87e5;height:300px;
    background: linear-gradient(to right, #0b87e5 50%, white 50%);
    .head{
        font-size: 23px;
    color: #fff;
    position: absolute;
    margin-top: 54px; 
    }
    .sub-head{
        font-size:18px;text-decoration:underline;position:absolute;color:#fff;margin-top:78px;
    }
    .client-logo-outer{
        width: 30%;
    float: left;
    height: 150px;
    min-height: 136px;
    padding-top: 110px;
    img{
        width:100%;height:100px;width:auto;
         @media(max-width: 768px) {
             height: 55px;

    }
    }
    }
    .testimonial-content{
        width: 65%;
    border-radius: 30px;
    float: left;
    height: 140px;min-height:140px;
    margin-top: 40px;
    padding: 2%;
   -webkit-box-shadow: 0px 11px 35px 6px #15131326;
    -webkit-box-shadow: 0px 11px 35px 6px #15131326;
  -moz-box-shadow: 0px 11px 35px 6px #15131326;
    background: #fff;
    p{
        font-style: italic;
    font-size: 17px;
    height: 60px;
    @media(max-width: 768px) {
             font-size: 13px;

    }
    }
    }
}
}



.coma{
       
    width: 59px;
    /* left: -8px; */
    display: block;
    text-align: center;
    margin: auto;
    /* top: 33px; */
    height: 38px;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    background-image: url(../images/coma.png);
    background-size: 80%;
    background-repeat: no-repeat;
}
.rating{
       display: block;
    width: 180px;
    left: -8px;
    float: right;
    top: 33px;
    height: 60px;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    background-image: url(../images/rating.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
/**/


/*home page rawleigh blog end*/

/*speciality start*/
.specialty-outer{
        width: 100%;
    background: #f7f7f7;
    display: inline-block;
    padding: 30px 0 60px 0;margin-top:80px;
}
.speciality-block{
    width:21%;float:left;padding:2%;position:relative;
    @media(max-width: 767px) {
         width: 35%;
    float: left;
    padding: 4%;
    position: relative;
    margin-left: 20px;

    }
}
.specialiy-block-icon{
    position: absolute;
    width: 60px;
    left: -8px;
    top: 50px;
    height: 60px;
    border-radius: 100px;
    border: solid 2px #3499cb;
    background-color: #fff;
    @media(max-width: 1600px) {
             top: 38px;

    }
    @media(max-width: 1400px) {
             top: 34px;

    }
    @media(max-width: 768px) {
             width: 45px;height: 45px;

    }
    &.one{
    background-image: url(../images/quality-blue.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center; 
    }
    &.one:hover{
    background-image: url(../images/quality-white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#3499cb; 
    }
    &.two{
    background-image: url(../images/door-blue.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center; 
    }
    &.two:hover{
    background-image: url(../images/door-white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#3499cb; 
    }
    &.three{
    background-image: url(../images/secure-blue.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center; 
    }
    &.three:hover{
    background-image: url(../images/secure-white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#3499cb; 
    }
    &.four{
    background-image: url(../images/money-blue.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center; 
    }
    &.four:hover{
    background-image: url(../images/money-white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#3499cb; 
    }
}

.speciality-block-inner{
    width:100%;height:97px;border:solid 2px #3499cb;border-radius:5px;
     @media(max-width: 1600px) {
         height: 85px;

    }
}
.speciality-text{
    font-size: 25px;font-family: Roboto-Bold;text-align: center;color:#424242;font-weight: bold;padding-top: 25px;
        padding-left: 10px;
        @media(max-width: 1600px) {
        font-size: 20px;
    

    }
    @media(max-width: 1400px) {
        font-size: 18px;
    padding-top: 26px;

    }
    @media(max-width: 420px) {
    font-size: 15px;
    padding-top: 18px;
    padding-left: 20px;

    }
}


/*speciality end*/
body{
    margin: 0px;padding: 0px;font-family: 'Roboto-Regular';
}



.rawleigh{
    .column{
        &.main{
    min-height: auto;
}
}
}


/*footer*/
.rawleigh{
   .footer{
    &.content{
border-top: 0px;
max-width:100%;
margin-top:0px;
    }
} 
}

.footer h3{
    font-size: 27px;color: #3499cc;text-transform: uppercase; letter-spacing: 4px;
    @media(max-width: 1400px) {
            font-size: 23px;
   
    font-family: 'Roboto-Bold';

    }
     @media(max-width: 767px) {
            font-size: 20px;
   }
}
.copytext{
    width: 50%;
    font-size: 18px;
    @media(max-width: 1400px) {
            font-size: 13px;
   }
   @media(max-width: 767px) {
       width: 100%;
   }
}
.footer-logo{
    width: 340px;
    position: absolute;
    top: -90px;
    @media(max-width: 768px) {
            width: auto;
   }
    @media(max-width: 420px) {
          width: 340px;
    position: static;
    top: 0;
   }
}
.footer-logo img{
    width: 100%;
}
.black-footer{
    position: absolute;border: solid 1px #fff;width:100%;height: 400px;position: absolute;
}
.modal-popup.popup-authentication.modal-slide._inner-scroll{
    display: none;
}
.box-footer{
    width: 25%;float: left;
    @media(max-width: 767px) {
            width: 50%;
   }
   @media(max-width: 420px) {
            width: 100%;
   }
    .social-list {
        margin-left: 0px;
    padding-left: 0px;
        li{
            display: inline-block;
            float: left;
            list-style-type: none;
            cursor: pointer;

        }
           .fb{
                background-image: url(../images/facebookic.png);
        background-repeat: no-repeat;
    width: 50px;
    height: 54px;background-size: 85%;
            }
            .insta{
                background-image: url(../images/instaic.png);
        background-repeat: no-repeat;
    width: 50px;
    height: 54px;background-size: 85%;
            }
            .tweet{
                background-image: url(../images/twitteric.png);
        background-repeat: no-repeat;
    width: 50px;
    height: 54px;background-size: 85%;
            }
    }
}
.page-footer{
        background: #424242;
        position: relative;
       
        padding-bottom:20px!important;margin-top: 0px;
    color: #acacac;
    display: inline-block;
    width: 100%;
}
.footer_menu{
    padding-left: 0px;
        padding-bottom: 0px;
    margin-bottom: 0px;
}
.footer_menu li{
    list-style-type: none;
}
.footer_menu li a{
    font-size: 24px;line-height:35px;
    color: #acacac;
    @media(max-width: 1400px) {
        font-size: 19px;
    line-height:30px;

    }
     @media(max-width: 767px) {
        font-size: 16px;
    line-height:20px;

    }
    
}
.footer-center {
    .container{
            display: flex;
    border-top: solid 1px #acacac;
    padding-top: 20px;
    }
}

/*pdp start*/



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f8fd;
}

.dropdown-content {
      display: none;
    position: absolute;
    height: auto;
    background-color: #f9f9f9;
    width: 95%;
    z-index: 999999999;
    left: 0;
    
    z-index: 1;
    margin-top: 126px;
    .column{
            width: 30%;    padding-bottom: 40px;
    float: left;
   
        a
        {
            &.link{
                 width: 100%!important;height: auto!important;line-height: 20px;padding: 0px;
            }
        }

      
    
    }
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.bounce  {
         
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 22px;
            text-align: center;
            -moz-transform: translateX(50%);
            -webkit-transform: translateX(50%);
            transform: translateX(50%);
            -moz-animation: bouncing-text 5s linear infinite alternate;
            -webkit-animation: bouncing-text 5s linear infinite alternate;
            animation: bouncing-text 10s linear infinite alternate;
        }
        
        @-moz-keyframes bouncing-text {
            0% {
                -moz-transform: translateX(50%);
            }
            100% {
                -moz-transform: translateX(-50%);
            }
        }
        
        @-webkit-keyframes bouncing-text {
            0% {
                -webkit-transform: translateX(50%);
            }
            100% {
                -webkit-transform: translateX(-50%);
            }
        }
        
        @keyframes bouncing-text {
            0% {
                -moz-transform: translateX(50%);
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
            }
            100% {
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

