/*product filter start*/
.rawleigh{
    &.catalog-category-view{
        .block{
           
            &.filter{
                margin-bottom: 20px;
            }
        }
          .category-banner{
            position:relative;
            img{
                width: 100%;
            }
            .banner-text{
                    position: absolute;
                    color: #fff;
                    font-size: 54px;
                    top: 35%;
                    font-family: 'PlayfairDisplay-Bold';
                    right: 20%;
                     @media(max-width: 768px) {
                font-size: 28px;

    }
            }
        }
        .toolbar{
            &.toolbar-products{
            margin-bottom: 10px;
                 .toolbar-amount{
                    font-size: 21px;
                    @media(max-width: 1400px) {
                font-size: 14px;

    }
                 }
            }
        }
    }
   &.page-products{
    .pages{
        .item{line-height: 25px;margin-top: 12px;

        }
        width: 25px;
        .action{
            &.next{
                        background: transparent;
    border: 1px solid transparent;

    color: #ffffff;
    height: 25px;
    width: auto;
    line-height: 25px;
            }
            &.next:before{
                line-height: 25px;    color: #333;content:'Next';font-family: 'Roboto-Regular';
                font-size: 17px;
                @media(max-width: 1400px) {
               font-size: 12px;

    }
            }

            &.previous:before{
                line-height: 25px; font-size: 17px;   color: #333;content:'Previous';font-family: 'Roboto-Regular';
                @media(max-width: 1400px) {
               font-size: 12px;

    }
            }

             &.previous{
                        background: transparent;
    border: 1px solid transparent;
    color: #ffffff;
    height: 25px;
    width: auto;
    line-height: 25px;
            }
        }

        a{
            &.page{
                          color: #333;
    background: transparent;
    border-color: transparent;height: 25px;line-height: 25px;width:25px; 
            }
            &.page:hover{
                  color: #fff;background: #3399cb;
    border-color: #3399cb;height: 25px;line-height: 25px;width:25px;     
            }
        }
        strong{
            &.page{
                     color: #fff;background: #3399cb;
    border-color: #3399cb; height: 25px;line-height: 25px;width:25px;     }
        }
    }


     .rating-summary{
         .rating-result{ margin-left: 5px;
            span:before{
                color: #ffc107;
            }
         }
    }
    .modes{
        display: none;
    }
    .tryme-outer{
        width:100%;height:auto;background-color:#fff;margin-bottom:10px;
        border-radius: 10px;
    box-shadow: 3px 11px 37px -2px #d0e1ea;
        .try-headingouter{
            width:100%;background-color:#3399cb;height:auto;border-radius:10px;
            .heading{
                font-size:36px;color:#fff;text-align:center;font-family: 'PlayfairDisplay-Bold';
                @media(max-width: 1400px) {
                font-size: 32px;

    }
            }
        }
        p{
            font-size:17px;color:#333043;padding: 20px;
    text-align: center;margin-bottom: 0px;
    @media(max-width: 1400px) {
                font-size: 13px;line-height: 20px;

    }
        }
        a{
            &.discover-product{
                border: solid 1px #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 21px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    width: 215px;
    margin: auto;
    display: block;
    text-align: center;
    cursor:pointer;
    @media(max-width: 1400px) {
                font-size: 11px;width: 160px;

    }
     @media(max-width: 768px) {
                padding: 10px 10px;width: auto;display: table;

    }
            }
        }
    }

    .toolbar{
        &.toolbar-products{
            .field{
                &.limiter{
                    .limiter-options{
                        font-weight: 400;
                        line-height: 10px;
                        color: #666666;
                        padding: 0;
                        font-size: 13px;
                        box-shadow: none;
                        height: 25px;
                        margin-top: 12px;
                    }
                }
            }
            .toolbar-sorter{
                &.sorter{
                    .sorter-action{
                        display: none;
                    }
                    select{
                            background: transparent;
                            border: 0px;
                            font-size: 21px;
                            color: #414141;
                            @media(max-width: 1400px) {
                font-size: 15px;

    }
                    }
                  .sorter-label{
                    text-transform: none;
                    font-size: 21px;
                    @media(max-width: 1400px) {
                font-size: 14px;

    }
                  }
                }
            }
        }
    }
  
    .page-wrapper{
        background-color: #f2f8fd;
    }
    .page-main{

        .sidebar {
            &.sidebar-additional{
                .block{
                    &.block-reorder{
                      background: #fff;
                            border-radius: 10px;box-shadow: 3px 11px 37px -2px #d0e1ea; padding: 10px 15px;  
                    }
                    &.filter{
                       background: #fff;
                            border-radius: 10px;box-shadow: 3px 11px 37px -2px #d0e1ea;padding: 10px 15px; 
                    }
                    &.block-compare{
                            background: #fff;
                            border-radius: 10px;box-shadow: 3px 11px 37px -2px #d0e1ea;padding: 10px 15px;
                    }
                    &.block-wishlist{
                        background: #fff;
                            border-radius: 10px;box-shadow: 3px 11px 37px -2px #d0e1ea;padding: 10px 15px;
                    }
                }
            }
            &.sidebar-main{
                    padding-right: 0;
                   .items{
                                    .item{

                                        a:hover{
                                            color: #3399cb;
                                        }
                                        a:before{
                                                content: "";
                                                display: inline-block;
                                                height: 12px;
                                                width: 11px;
                                                border: 1px solid;
                                                margin-right: 17px;
                                                vertical-align: middle; 

                                        }
                                        a{
                                            &.remove:before{
                                                        padding: 0;
                                                    content: "\f00d";
                                                    font-family: "Fontawesome";
                                                    float: left;
                                                    color: #888888;
                                                    font-weight: 400;
                                                    line-height: 12px;
                                                    padding-left: 3px;
                                                    /* height: 9px; */
                                                    text-align: center;
                                                    font-size: 11px;
                                                }
                                                &.remove:after{
                                                content: ""!important;
                                                }

                                        }

                                    }
                                }
                
                .block{
                    background: #fff;
                    border-radius: 10px;box-shadow: 3px 11px 37px -2px #d0e1ea;padding: 10px 15px;
                    @media(max-width: 767px) {
                               padding: 15px;
             }
                    .block-content{
                        &.filter-content{
                            .item{
                                display: inline-grid;
                            }
                            .filter-options{
                                 .filter-options-title{
                                    padding-bottom: 0px;
                                    padding-top: 15px;
                                    font-size: 22px;
                                    @media(max-width: 1400px) {
                               font-size: 16px;
             }
                                 }
                                .filter-options-title:after{
                                padding-left: 8px;
                                }
                               .filter-options-content {
                                .items{
                                    .item{
                                        margin-top: 0px;
                                        a{
                                            font-size: 19px;
                                            @media(max-width: 1400px) {
                               font-size: 14px;
             }
                                        }
                                        a:hover{
                                            color: #3399cb;
                                        }
                                        a:before{
                                                content: "";
                                                display: inline-block;
                                                height: 12px;
                                                width: 11px;
                                                border: 1px solid;
                                                margin-right: 17px;
                                                vertical-align: middle; 
                                        }
                                    }
                                }
                               } 
                            }
                        }
                    }
                }
            }
        }
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
}  
    .products-grid {
        &.products{
                border-bottom: solid 1px #aaa;margin-top: 0px;
                .product-item-actions{
                    padding-bottom: 10px;
                }
        }
        .listview{
            .product-item:nth-child(2n + 1){
              margin-left: 2%;  
            }
            .product-item:nth-child(3n + 1){
                margin-left: 0;
            }
            .product-item:hover{
               .product-item-info{
               background: #3499cb; 
               .product-item-details{
                .product-item-inner{
                    .action{
                        &.tocart:before{
                            background-image: url(../images/car-blue.png);
                        }
                        &.tocart{
                            background:#fff;
                        }
                    }
                }
                .price-box{
                    color: #fff;
                    .price{
                        color: #fff;
                    }
                }
                .product-item-name{
                    .product-item-link{
                            color: #ffffff;
                    }
                }
               }
               }
            }
           .product-item{
                width: calc((100% - 6%) / 3)!important;text-align:center;
                @media(max-width: 767px) {
                width: calc((100% - 6%) / 1)!important;margin-bottom: 33px;

    }
                .product-item-info{
                        min-width: 320px;
                        margin: auto;
                        background: #fff;
    border-radius: 5px;
                         @media(max-width: 1600px) {
                  min-width: 280px;

    }
                        @media(max-width: 1400px) {
                  min-width: 240px;

    }
    @media(max-width: 1200px) {
                  min-width: 220px;

    }
    @media(max-width: 768px) {
                  min-width: 153px;

    }
    @media(max-width: 420px) {
                  min-width: 300px;

    }
                .product-item-details{
                    .price-box{
                    .price-label
                        {
                        display:none;
                        }
                        .minimal-price-link{
                                .price-container{
                                &.price-final_price{
                                    &.tax{
                                        &.weee{
                                            .price-wrapper {
                                                display: none!important;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        .old-price{
                            text-decoration: line-through;
                        }
                        &.price-final_price{
                            .price-container{
                                &.price-final_price{
                                    &.tax{
                                        &.weee{
                                            .price-wrapper {
                                                    display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }



                    
    .product-item-details {
        .product-item-inner{
            position: relative;padding-top: 20px;
              .action{

        &.tocart:before{
background-image: url(../images/car-white.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    content: '';
    color: transparent;
    width: 31px;
    margin-left: -14px;
    height: 16px;
    padding-right: 28px;
    line-height: 7px;
    
    vertical-align: top;
    background-size: 78%;
    @media(max-width: 768px) {
                 margin-left: -7px;

    }
        }
        &.tocart{
            position: absolute;
    width: 36px;
    bottom: -34px;
    transform: translateY(-50%);
    
    left: 44%;
    height: 36px;
    border: solid 1px #3399cb;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    background: #3399cb;
    margin-top: 10px;
    cursor: pointer;
    @media(max-width: 767px) {
              left: 45%;

    }

            span{
                display: none;
            }
        }
    }
        }
        .product-item-name{
            .product-item-link{
                    font-size: 29px;
                    color: #130e2b;
                    height: 35px;
                    display: block;
                    line-height: 21px;
                     @media(max-width: 1400px) {
               font-size: 22px;

    }
                    @media(max-width: 768px) {
               font-size: 16px;

    }
            }
        }
        .price-box{
            display: inline-flex;
            .price{
                    color: #130e2b;
                    font-size: 32px;
    font-weight: 600;
    @media(max-width: 1400px) {
        font-size: 24px;
    }
    @media(max-width: 768px) {
        font-size: 16px;
    }
            }
        }

    }
                }
                .product-image-container{
                    width: 100%!important;
                    height: 200px;
    display: block;
                   span{
                    &.product-image-wrapper{
                        padding-bottom: 10px!important;
                        height: 200px;
                        .product-image-photo{
                                height: 200px;
                                @media(max-width: 768px) {
                           height: auto;

    }
                        }
                        }                   }
                }
        } 
        }
        
    }
}  
}





/**/

.modal {
    padding: 30px;
    left: 50%;
    top: 50%;   
    position: fixed;
    z-index: 500;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.modal.size-m {
    width: 600px;
    height: 400px;
}

.modal.size-l {
    width: 700px;
    height: 500px;
}

.modal.size-s {
    width: 500px;
    height: 300px;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal-close {
    color: #b1b0ac;
    font-size: 30px;
    line-height: .5;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover {
    color: #e72626;
}

/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
/* If PaginationNumbers is true */
/* preloading images */
