.rawleigh{
&.account{
.page-title-wrapper{
    .order-date{
    margin-top:20px;
    }
}
.page-footer{
    margin-top:40px;
}
.block-collapsible-nav{
    .title{
    border: 1px solid #3399cb!important;
    border-radius: 20px;
    }
}
    .sidebar{
        &.sidebar-additional{
            .block{
                &.block-reorder{
                    padding: 30px 15px;
                }
            }
        }
    }
    .column.main{
        margin-top: 55px;
    }
     .page-main{
        .fieldset{
            .legend{
                margin-left: 0px!important;
            }
        }
        .block-dashboard-info{
                background: #f7f7f7;
    padding: 20px;
    border-left: solid 4px #eee;
        }

        .rating-summary{
            .rating-result{
                margin-left: 5px;
            }

        }
        .fieldset{
                overflow-x: inherit;
        }
        .message{
            &.success{
                  margin: 0 0 10px;
                    padding: 12px 20px 12px 25px;
                    display: block;
                    font-size: 1.3rem;
                    background: #dbeaf1;
                    color: #333;
                    padding-left: 45px;
                    position: relative;
                    > *:first-child:before{
                            color: #3399cb;
                    } 
            }
            &.info{
                    margin: 0 0 10px;
                    padding: 12px 20px 12px 25px;
                    display: block;
                    font-size: 1.3rem;
                    background: #dbeaf1;
                    color: #333;
                    padding-left: 45px;
                    position: relative;
                    > *:first-child:before{
                            color: #3399cb;
                    }
            }
        }
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
.sidebar{
    &.sidebar-main{
        .block{
              background:transparent;
              @media(max-width: 767px) {
         background:#fff;
    }
               &.block-collapsible-nav{
                .item{
                    letter-spacing: 1px;letter-spacing: 1px;
                    &.current{
                        a{
                             border-color: #3399cb;
                            color: #000000;
                            font-weight: 600;
                            background-color: #eee;
                            border-radius: 0 20px 20px 0;
                            padding: 15px 18px 15px 15px;   
                            }
                        strong{
                            border-color: #3399cb;
                            color: #000000;
                            font-weight: 600;
                            background-color: #eee;
                            border-radius: 0 20px 20px 0;
                            padding: 15px 18px 15px 15px;

                        }
                    }
                }
            .content{
                background:transparent;
            }
        }

        }
    }
}

  .table-wrapper{
    table{
            border: solid 1px #eee;
            > thead{
                > tr{
                    > th{
                        border: solid 1px #eee; 
                            background: #eee;
                    }
                }
            }
            > tbody{
               > tr{
                > td{
                   border: solid 1px #eee; 
                }

                }
            }
    }
  }     
} 
}





}




