/* Create three equal columns that floats next to each other */



.catalog-product-view{
      
    .page-footer{
    margin-top:40px;
}
    .brandContainer{
        width: 100%;max-width: 540px!important;overflow-x: hidden;
        @media(max-width: 768px) {
           max-width: 350px!important;

    }
    }
    .block{
        margin-bottom: 0px;
    }
    .product-info-main{
    .price-label{
    display:none;
    }
    .product{
    &.attribute{
    &.sku{
    display: block;
    }
    }
    }
        .price-box{
            .old-price{
                .price-wrapper{
                        font-size: 24px;
                        .price{
                           font-size: 24px;line-height: 36px;   
                        }
                }
            }
        }
    }
    .slick-prev:before{
         
    content: '\f104';color: #333;
    font-family: 'FontAwesome';
    font-size: 16px;
    }
    .slick-next:before{
        content: '\f105';color: #333;
    font-family: 'FontAwesome';
    font-size: 16px;
    }
    .slick-prev {
    left: 0;top: 35%;
     height: 27px;
    line-height: 19px;    width: 20px;
    background:transparent;
}
.slick-next {
    right: 3px;top: 35%;
    height: 27px;
    line-height: 19px;    width: 20px;
    background:transparent;
}
    .product-social-links{
        display: none;
    }
    .product{
       
        &.info{
            &.detailed{
                    overflow: hidden;
    box-sizing: unset;
    .additional-attributes {
        tbody{
            tr{
                th{
                        width: 20%;
                }
                td{
                    display: block;width: 80%;
                }
            }
        }
    }
            }
        }
    }
    
        .review-add {
            .fieldset {
                #product-review-table {
                .field{
                padding: 0px;
            }
                }
            }
        }
  
     .review-control-vote{
             label:before{
                color: #ffc107;
             }
        }
    .rating-summary{
         .rating-result{ margin-left: 5px;
            span:before{
                color: #ffc107;
            }
         }
    }
    .product-info-main{
        .page-title-wrapper{
            .page-title{
                margin-top: 0px;
            }
        }
        .box-tocart{
            .input-text{
                &.qty{
                        height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 50px;
    margin-top: 10px;
                }
            }
            .actions{
            display:block;
            }
        }

        .product-reviews-summary{
            .reviews-actions{
                a{
                    color: #ffc107!important;
                }
            }
        }
      .product-add-form{
        float: left;
margin-top: 0px;
.box-tocart{
    margin-top: 0px;
    .actions{
        vertical-align: top;
padding-top: 0;
    }
}
    }  
    }
    
    .product-addto-links{
        .action{
            &.tocompare{
                background-color: transparent;
                    color: #000;
                    font-size: 18px;
                    letter-spacing: 2px;
                    border-radius: 30px;
                    padding: 8px !important;
                    font-family: 'Roboto-Regular';
                    font-weight: 400!important;
                    text-transform: uppercase;
                    border: solid 1px #000;
                    min-width: 232px;
        }
        }
    }
    .page-title-wrapper{
        .page-title{
            font-size: 36px;
            @media(max-width: 1400px) {
             font-size: 27px;

    }
        }
    }
    .prices-tier {
        background:transparent;
        .item{
            &.prodtype{
                   cursor: pointer;
                    font-size: 24px;
                    line-height: 36px;
                    @media(max-width: 1400px) {
             font-size: 18px;
              line-height: 30px;

    }
                &.current{
                    color: #3399cb;
                }

            }
        }
    }
    .brandContainer{
        p{
            text-align: center;
        }
        p{
            &.cate{
               background: #3399cb;
width: 48px;
border-radius: 100px;
padding: 9px;
text-align: center;
height: 48px;
margin: auto;
border: solid 8px #f2f8fd;
            }
        }
        .slick-initialized{
            .slick-dots{
                display: none!important;
            }
            .slick-list{
                margin: 0 34px;
            }
            .slick-slide{
                    width: 94px!important;
            }
        }
    }
    .brand-image{
        img{
            width: 90%;margin: auto;padding-top: 5px;
        }
    }
   
    #selected_slick-slide {
        img{
             border: solid 1px #000;
        }
    }
    .QuickStartLong:hover{
        img{
            border: solid 1px #000;
        }
    }
    .selected {
       
              border: solid 8px #c1e0ef!important;
        


       
    }
   
    .product{
        &.data{
            &.items{
                .item{
                    &.content{
                        background: #ffffff;
                        margin-top: 50px;
                        padding: 35px 35px 35px 0px;
                        border: 0px;
                        @media(max-width: 767px) {
         margin-top: 0px;padding-top: 20px;
             }
                    }
                    &.title{
                        .switch{
                          background: #eee; margin: 15px;
                            margin-left: 15px;
                        margin-left: 0px; font-weight: 400;
                          color: #000;border: 0px;border-radius: 50px;font-size: 34px;
                       @media(max-width: 1400px) {
         font-size: 26px;
             }
             @media(max-width: 767px) {
         font-size: 20px;
             }
                        }
                        &.active{
                           .switch{
                            font-weight: 400;
                            border-radius: 50px;
                            line-height: 40px;
                            font-size: 34px;
                            color: #fff!important;
                            text-decoration: none;
                            background: #3399cb!important;
                            border: 0px;
                            border-bottom: none;
                            height: 40px;
                            padding: 1px 35px 1px 35px;
                            @media(max-width: 1400px) {
         font-size: 26px;
             }
             @media(max-width: 767px) {
         font-size: 20px;
             }
                        }  
                        }
                       
                    }

                }
            }
        }
    }
    .action{
        
        &.primary{
            &.tocart{
                    background-color: transparent;
                        color: #000;
                        font-size: 18px;
                        letter-spacing: 2px;
                        border-radius: 30px;
                        padding: 8px 25px!important;
                        font-family: 'Roboto-Regular';
                        font-weight: 400;
                        border: solid 1px #000;
                        text-transform: uppercase;
                         @media(max-width: 1400px) {
         font-size: 14px!important;
             }
            }
        }
    }
    .bestseller-section{
                background: linear-gradient(to bottom, #f2f8fd 50%, #ffffff 50%);
    padding-bottom: 23px;
            .heading{
                strong{
                        font-size: 30px;
    font-weight: 400;
                }
            }
            button{
                &.sub-heading{
                        appearance: none;
                        width: 200px;
                        margin: auto!important;
                        display: block;
                        padding-bottom: 10px;
                        font-weight: 400;
                        background-color: transparent;
                        border: 0px;
                }
            }
 
    }
    
    .customrel{
        &.resCarousel-inner{
            min-height: 420px;
            .item{
                .tile{
                    img{
                        height: 160px;
                    }
                }
            }
        }
    }
.products-grid {
    .product-item-actions{
        margin: 0px 0px;
    }
    .products{
      margin-left: 5%;  
    }
    .product-item{
        
        width: 20%;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;

    .product-item-info{
        margin: auto;
        .product-item-details{
            .price-box {

                .price{
                    padding-top: 0px;
                    padding-bottom: 30px;
                    color: #130e2b;
                    font-size: 24px;
                    font-weight: 400;
                    @media(max-width: 1400px) {
         font-size: 16px;
             }
                }
            }
            .product-item-name{
                margin: 0px 0 0px;
                .product-item-link{
                        height: 40px;
                        display: inline-block;
                        font-size: 22px;
                        @media(max-width: 1400px) {
         font-size: 16px;
             }
                }
            }
        }
    }

    }
    .cartbtn{
        .label{
            display: none;

        }
        input[type="checkbox"]{
        &.bestseller-cart{
            background-color: #3399cb;
            border-radius: 50px;
            appearance: none;
            position: absolute;
            top: auto;
        }
    }
    }

}
 .page-main{
    width: 100%;margin: auto;
     @media(max-width: 767px) {
        padding: 0 3%;
    width: 94%;

    }
    @media (min-width: 768px) {
            max-width: 720px;

        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1166px;
        }

        @media (min-width: 1440px) {
            max-width: 1240px;
        }

        @media (min-width: 1600px) {
            max-width: 1400px;
        }

        @media(min-width: 1920px) {
            max-width: 1720px;
        }
}   
}
.rawleigh{
    &.page-layout-1column{
        .fotorama__stage{
            height: 480px!important;
             @media(max-width: 767px) {
          height: 283px!important;
    }
        }
      
    .products-grid{
        .product-item{
            width: 20%;
            @media(max-width: 768px) {
           width: 33%;
    }
    @media(max-width: 480px) {
           width: 49%;
    }
        }
    }
}
    .page-wrapper {
        .page-bottom{
            padding-left: 0px;
    padding-right: 0px;
    width: 100%;max-width: 100%;
        }
    }
}

.catalog-product-view{
    .review-add{
        background: #fff;box-shadow: 0px 11px 35px 6px #dad9d9;
padding: 20px 0;
.actions-toolbar{
        margin-left: 25.8%;
          @media(max-width: 767px) {
               margin: 0 12%;
    }
}
.block-title{
    display: block;padding-left: 50px;
     font-family: 'PlayfairDisplay-Regular';padding-bottom: 20px;
     font-size: 40px;
     @media(max-width: 1400px) {
           font-size: 30px;


    }
}
.head-devider{
    border-bottom: solid 1px #aaa;
}
.review-form{
    max-width: 100%;
    .review-form-actions{
    .action{
        &.submit{
            &.primary{
                background: #43a1d1;font-weight: 400;letter-spacing: 1px;margin-bottom: 30px;
                    border-color: #43a1d1;
                    color: #fff;
                    text-transform: none;
                    font-size: 24px;
                     @media(max-width: 1400px) {
           font-size: 18px;
    }

            }
        }
    }
}
}
.fieldset{
    .reviewtext{
        padding-left: 50px;
font-size: 30px;
margin-bottom: 30px;
display: block;
@media(max-width: 1400px) {
         font-size: 18px;
    }
    }
    .field{
        padding: 0 50px;margin-bottom: 20px;
display: flex;
@media(max-width: 768px) {
          display: block;
    }
        .label{
            width: 20%;
float: left;font-size: 24px;min-width: 100px;font-weight: 400;
@media(max-width: 1400px) {
           font-size: 18px;
    }
@media(max-width: 768px) {
           width: 100%;
    }
        }
        .control{
            width: 80%;
float: left;margin-bottom: 0px;
@media(max-width: 768px) {
           width: 100%;
    }
textarea{
 border-color: #aaa;   
}
input{
    border-color: #aaa;
}
        }
    }
    .review-legend{
        &.legend{
            margin-bottom: 0px;
padding: 10px 50px;
font-size: 32px;
@media(max-width: 1400px) {
         font-size: 23px;
    }
        }
    }
}
    }
    .product {
        &.data{
            &.items{
                .item{
                    &.content{
                        background-color: transparent;
                    }
                }

            }
        }
    }
.page-wrapper {
    background-color: #f2f8fd;
} 
.fotorama__thumb__arr{
    background-color: transparent;
}
    .fotorama__dot{
        width: 10px;height: 10px;
    }
    .fotorama__active{
         .fotorama__dot{
            background-color: #3399cb;
    border-color: #3399cb;
         }
    }
    .fotorama__thumb{
        height: 96px;
    }
    .fotorama__nav--thumbs {
    display: block;
    width: 72%!important;
    margin: 0 auto;text-align:center;
    @media(max-width: 1400px) {
      width: 78%!important;
    }
}
    &.page-layout-1column{

          .product.media{
            width: 50%;
            @media(max-width: 767px) {
           width: 100%;
    }
        }
        .product-info-main{
            width: 46%;
            @media(max-width: 767px) {
           width: 100%;
    }
    .product-info-price
    {
            width: 100%;
    float: right;
    }
    

        } 
    }
    .fotorama__thumb-border{
        padding: 6px;
    height: 96px!important;
    width: 96px;
    border-color: #3399cb;
    }

.fotorama__nav--thumbs{

    .fotorama__nav__frame{
        padding: 6px;
    height: 96px;
    width: 96px;
    .fotorama__active{
          padding: 6px;
    height: 96px;
    width: 96px
    }
 
    }

}
    .fotorama__stage.fotorama__shadows--right:after{
            background-image: none;
    }
    .fotorama__nav.fotorama__shadows--right:after{
        background-image: none;
    }
    .fotorama__nav.fotorama__shadows--left:before{
         background-image: none;
    }
    .fotorama__stage.fotorama__shadows--left:before{
        background-image: none;
    }
    .fotorama__nav.fotorama__shadows--left:before{
        content: '\f104';
     font-family: 'FontAwesome';
    font-size: 16px;
        padding: 0 12px;
    color: #fff;
    z-index: 999999;
    margin-top: 57px;
    }
    .fotorama__thumb--icon{
            background-color: #3399cb;
    color: #fff;
    background-image: none;
    height: 19px;
    width: 19px!important;
    padding: 0px;
    }
    .fotorama__nav.fotorama__shadows--right:after{
        content: '\f105';
    font-family: 'FontAwesome';
    font-size: 16px;
        padding: 0 8px;
    color: #fff;
    z-index: 999999;
    margin-top: 57px;
    }
    .fotorama__arr{
    background-color: transparent;
    }
    .fotorama__arr:hover{
    background-color: transparent;
    }
    
}

