
        
        .p0 {
            padding: 0;
        }
        
        .resCarousel-inner{
            &.nav{
                @media(max-width: 767px) {
                margin-left: -25px!important;min-height: 100px;

    }
            }
            .item {
           
            text-align: center;
        }
            } 
        
        
        


 .banner{
    .item{
        div{
           display: table;
            width: 100%;
            min-height: 250px;
            text-align: center; 
        }
    }
 } 





        .resCarousel-inner{

            .item{
                h1{
                 display: table-cell;
            vertical-align: middle;
            color: white;   
                }
            }
        }


        
        
     
        
        
.item {
    div{
        h1{
           background: #000000; 
        }
    }
}


.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: 0;
   width: 26px;
    height: 26px;
    border: 0px;
    background: #f7f7f7;
    font-size: 16px;
    border-radius: 999px;padding:0px;
}
.leftRs{
    &.testi:before{
        font-size: 20px;
    }
    &.testi{
        left: 10%;color: #0b87e5;
    background: #f7f7f7;top: 53%;padding:0px;
    }
}
.rightRs{
    &.testi:before{
        font-size: 20px;padding:0px;
    }
    &.testi{
        left: 13%;right: unset;color: #0b87e5;top: 53%;
    background: #f7f7f7;
    @media(max-width: 768px) {
             left:15%;

    }
    }
}

.rightRs {
    position: absolute;padding:0px;
    margin: auto;
    top: 0;
    right: 0;
    background: #3399cb;
    border: 0px;
    color: #fff;
    font-size: 16px;
    bottom: 0;
    z-index: 0;
    width: 26px;
    height: 26px;
    border-radius: 999px;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
    width: 90%;margin: auto;min-height:360px;
}

.resCarousel-inner 
{
  .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}  
}





/*banner*/

.bestseller-section{
    width:100%;background-color:#f2f8fd;    padding-top: 40px;
    @media(max-width: 420px) {
    padding-top: 55px;
             }
    padding-bottom: 0px;
    &.recommend{
      background: linear-gradient(to bottom, #f2f8fd 50%, #ffffff 50%); padding-top: 20px;padding-bottom: 10px;
      .resCarousel-inner{
        .item:hover{
            .tile{
        background-color:#3399cb; 
        }
        }
        .item{
            .tile{
        background-color: #f2f8fd;
      } 
        }

      }
      .recommend-inner{
      margin:50px;border-radius:50px;background-color:#fff;
      -webkit-box-shadow: 0px 11px 35px 6px #bfbfbf;
      box-shadow: 0px 11px 35px 6px #bfbfbf;padding-top:40px;padding-bottom:0px;
          @media(max-width: 420px) {
   margin:0px;
             }
      }
      
    }
    .best-head{
     position: static;
    width: 200px;
    margin: auto;
    left: 42%;
    @media(max-width: 420px) {
    left: 23%;
             }
    }
}

.banner {
    overflow: hidden !important;
}
.leftRs:before{
    content: '\f104';
    font-family: 'FontAwesome';
    font-size: 16px;
}
.rightRs:before{
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 16px;
}
.bestseller-cart:before{
       background-image: url(../images/car-white.png);
                                        background-repeat: no-repeat;
                                        background-position: bottom center;
                                         content: ''; 
                                        color: transparent;
                                        width: 31px;
                                        height: 28px;
                                        padding-right: 29px;
                                        line-height: 34px;
                                        vertical-align: text-bottom;
                                        background-size: 80%;
}
.bestseller-cart{
    position: absolute;
    width: 36px;
    bottom: -34px;
    transform: translateY(-50%);
    /* top: 36%; */
    left: 39%;
   
    height: 36px;
    border: solid 1px #3399cb;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    background: #3399cb;
    margin-top: 10px;
    cursor: pointer;
}

.resCarousel-inner{
    .item:hover{
        .product-item-info{
            .product-item-details{
                .price-box{
                    .price{
                        color: #fff;
                    }
                }
                .product-item-name{
                    .product-item-link{
                        color: #fff;
                    }
                }
            }
        }
        .product-item-link{
            color: #fff;
        }
        .cartbtn{
            input[type="checkbox"]{
                &.bestseller-cart{
                    background-color: #fff;
                }
            }
        }
        .tile{
            background-color:#3399cb;
            h3{
            color: #fff;
        }
        p{
            color: #fff;
        }
        .bestseller-cart{
          background: #fff;  
        }
        .bestseller-cart:before{
            background-image: url(../images/car-blue.png);}
        }

       
    }
     .item {
        .tile {
    background: white;
   border-radius: 5px;
    margin: 5px;
    position: relative;
    h3{
        font-size: 22px;font-weight: 400;height: 22px;
         @media(max-width: 1400px) {
         font-size: 16px;
             }
    }
    p{
        padding-top: 0px;
        padding-bottom: 30px;
            color: #130e2b;
            font-size: 24px;
            @media(max-width: 1400px) {
         font-size: 16px;
             }
            .lt{
            text-decoration: line-through;
        }
    }
    img{
        height: 200px;
    }
    .price-box{
    .price-label
    {
    display:none;
    }
    .price{
     font-size:24px;
    @media(max-width: 1400px) {
         font-size: 18px;
             }
    }
    }
    .product-item-link{
    font-size:22px;
    @media(max-width: 1400px) {
         font-size: 16px;
             }
    }
}
     }
}









.resCarousel[data-animator="lazy"] 
{
  .item {
    transition: .6s ease all;
}  
}




@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
       
    }
}


