<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customer_id = $customerSession->getCustomerId(); 
$base_url = $this->getBaseUrl();
?>
<div data-block="minicart" class="minicart-wrapper cart_part">
<!-- <a href="<?php echo $base_url; ?>customer/account/login/" class="sign_in authorization-link"><?php echo __('Sign In') ?></a> -->
<li class="phone">
            <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('21')
                ->toHtml();
            ?>
</li>
<li class="my_account_link authorization-link odd">
    
    <?php if(!$customerSession->isLoggedIn())
        {
    ?>
    <a href="<?php echo $base_url; ?>customer/account/login/" class="action login-user sign_in"><i class></i><span><?php echo __('Login') ?></span></a>
     <?php } else if($customerSession->isLoggedIn()) { ?>
    
    <span class="my_accont_click">
        <span class="account_icon"></span><?php echo __('My Account') ?></span>
        <ul class="MyAccountHoverDiv">

            <li class="first"><a href="<?php echo $base_url; ?>customer/account/"><i title="Overview" class="overviewIcon"></i><span><?php echo __('Overview') ?></a></span></li>
            <li class="first"><a href="<?php echo $base_url; ?>sales/order/history/"><i title="My Orders" class="myorderIcon"></i><span><?php echo __('My Orders') ?></a></span></li>
            <li class="first"><a href="<?php echo $base_url; ?>wishlist/"><i title="My Wishlist" class="listIcon myaccountmargin"></i><span><?php echo __('My Wishlist') ?></a></span></li>
            <li class="first"><a href="<?php echo $base_url; ?>customer/account/edit/"><i title="Settings" class="settingsIcon"></i><span><?php echo __('Settings') ?></a></span></li>
            <li class="first"><a href="<?php echo $base_url; ?>customer/account/logout/"><i title="Settings" class="signoutIcon"></i><span><?php echo __('Logout') ?></a></span></li>   
        
        </ul>
    
    <?php } ?>


</li>

    <li>
        <a class="action showcart" href="<?= $block->escapeUrl($block->getShoppingCartUrl()) ?>"
        data-bind="scope: 'minicart_content'"> 

            <span class="cartText"><?= $block->escapeHtml(__('Cart')) ?></span>
            <span class="counter qty empty"
                data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() },
                blockLoader: isLoading">
                <span class="counter-number"><span class="num"></span><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                <span class="counter-label">
                <!-- ko if: getCartParam('summary_count') -->
                    <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                    <!-- ko i18n: 'items' --><!-- /ko -->
                <!-- /ko -->
                </span>
            </span>
        </a>
     </li>
    <?php if ($block->getIsNeedToDisplaySideBar()):?>
        <div class="block block-minicart"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php else: ?>
        <?php $scriptString = <<<script
            require(['jquery'], function ($) {
                $('a.action.showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
script;
        ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false); ?>
    <?php endif ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], 'window.checkout = ' .
     /* @noEscape */ $block->getSerializedConfig(), false); ?>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
                $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
            ) ?>"
        }
    }

    </script>



</div>
