& when (@media-common = true) {
    html {
        font-weight: normal;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none !important;
        }
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: inherit;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        font-weight: inherit;
        font-style: inherit;
        line-height: 22px;
        letter-spacing: 0.025em;
        font-size: 16px;
        //font-family: 'poppins';
        font-weight: 400;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        background-color: #ffffff;
        > *{
            color: #000000;
        }

        @media (min-width: 1920px) {
            &.custom{
                .frame{
                    max-width: 1800px;
                }
            }
        }
        #bio_ep_bg, #mageplaza-betterpopup-block{display: none !important;}
        &.catalog-category-view,
        &.catalogsearch-result-index{
            background: #f3f3f3;
            .category-view{
                .page-main {
                    max-width: 100%;
                    margin: 0;
                    width: 100%;
                }
            }
            .page-main {
                max-width: 1490px;
                .toolbar-products{
                    padding: 0;
                    .toolbar{
                        &-amount,
                        &-sorter{
                            padding: 0;
                            .sorter-options{
                                border: none;
                                background: transparent;
                                &:focus{
                                    outline: none;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                    .pages {
                        float: none;
                        .pages-items{
                            .item{
                                -webkit-transition: all .35s ease;
                                -moz-transition: all .35s ease;
                                -ms-transition: all .35s ease;
                                -o-transition: all .35s ease;
                                transition: all .35s ease;
                                &.current,
                                &:hover{
                                    .page{
                                        span:not(.label){
                                            background-color: #f56536;
                                            color: #FFF;
                                            padding: 5px 12px;
                                            border-radius: 3px;
                                            font-size: 1.09375vw;
                                            font-weight: 300;
                                        }
                                    }
                                }
                                a{
                                    &.page{
                                        span:not(.label){
                                            background-color: transparent;
                                            color: #414141;
                                            padding: 5px 12px;
                                            border-radius: 3px;
                                            font-size: 1.09375vw;
                                            font-weight: 300;
                                        }
                                    }
                                }
                                &.pages-item{
                                    &-next,
                                    &-previous{
                                        a.action{
                                            width: inherit;
                                            border: none;
                                            margin: 0;
                                            color: #414141;
                                            font-size: 0.8854166666666666vw;
                                            font-weight: 300;
                                            &::before{
                                                display: none;
                                            }
                                            span + span{
                                                position: relative;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                >.columns {
                    .column{
                        &.main {
                            width: ~'calc(75% - 7px)';
                            float: right;
                        }
                    }
                    .sidebar{
                        &.sidebar-main{
                            width: ~'calc(16% + 7px)';
                            float: left;
                            order: inherit;
                            flex-basis: inherit;
                            padding: 0;
                            .block{
                                &.filter{
                                    .filter{
                                        &-title {
                                            strong {
                                                color: #f57349;
                                                //font-family: 'Roboto', sans-serif;
                                                text-transform: uppercase;
                                                font-weight: 600;
                                                font-size: 1.1458333333333333vw;
                                            }
                                        }
                                        &-content{
                                            background: #ffffff;
                                            padding: 40px 0;
                                            position: relative;
                                            .block-subtitle{display: none;}
                                            .filter-options{
                                                &-title{
                                                    padding: 0 40px;
                                                    color: #130e2b;
                                                    //font-family: 'Roboto', sans-serif;
                                                    text-transform: uppercase;
                                                    font-weight: 600;
                                                    font-size: 0.9375vw;
                                                    margin: 0 0 15px;
                                                }
                                                &-content{
                                                    padding: 0 40px 25px;
                                                    font-size: 0.8333333333333334vw;
                                                    font-weight: 400;
                                                    border-bottom: 1px solid #130e2b;
                                                    ol{
                                                        li{
                                                            margin: 0;
                                                            a{
                                                                font-size: 0.8333333333333334vw;
                                                                line-height: 1.1458333333333333vw;
                                                                font-weight: 400;
                                                                color:#414141;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .filter-current{
                                                padding: 0 40px 25px;
                                                font-size: 0.8333333333333334vw;
                                                font-weight: 400;
                                                border-bottom: 1px solid #130e2b;
                                                margin-bottom: 25px;
                                                + .filter-actions {
                                                    position: absolute;
                                                    top: 8px;
                                                    right: 0;
                                                    margin: 0;
                                                    a{
                                                        padding: 10px;
                                                        font-size: 14px;
                                                        background: #f56335;
                                                        color: #FFF;
                                                        text-decoration:none;
                                                        &:hover{
                                                            text-decoration:none;
                                                        }
                                                    }
                                                }
                                                ol{
                                                    li{
                                                        margin: 0;
                                                        a{
                                                            font-size: 0.8333333333333334vw;
                                                            line-height: 1.1458333333333333vw;
                                                            font-weight: 400;
                                                            color:#414141;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.catalog-product-view{
            .page-main {
              max-width: 100%;
            }
            .product-detail__infomation__media {
                width: ~'calc(100% - 200px)';
                margin: 0 100px;
                .product-detail-media {
                    margin-bottom: 25px;
                    .product{
                        &.media{
                            width: 100%;
                            float: none;
                            margin: 0;
                            .gallery-placeholder{
                                .fotorama{
                                    &-item{
                                        .fotorama__nav-wrap--vertical {
                                            &.fotorama__nav-wrap {
                                                right: 0;
                                                left: inherit;
                                            }
                                            .fotorama__nav__shaft {
                                                margin: 0;
                                                .fotorama__thumb-border{
                                                    display: none !important;
                                                }
                                                .fotorama__nav__frame--thumb{
                                                    padding: 0;
                                                    margin-bottom: 10px;
                                                }

                                            }
                                            .fotorama__thumb__arr{
                                                &--left{
                                                    background: #ffffff;
                                                    .fotorama__thumb--icon{
                                                        background-color: #f7f7f7;
                                                        background-image: none;
                                                        transform: inherit;
                                                        background-position: inherit;
                                                        width: 22px;
                                                        height: 22px;
                                                        padding: 10px 0;
                                                        text-align: center;
                                                        &::before {
                                                            font-family: 'FontAwesome';
                                                            content: "\f106";
                                                            color: #636363;
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                                &--right{
                                                    background: #ffffff;
                                                    height: 40px;
                                                    padding-top: 15px;
                                                    .fotorama__thumb--icon{
                                                        background-color: #f7f7f7;
                                                        background-image: none;
                                                        transform: inherit;
                                                        background-position: inherit;
                                                        width: 22px;
                                                        height: 22px;
                                                        padding: 10px 0;
                                                        text-align: center;
                                                        &::before {
                                                            font-family: 'FontAwesome';
                                                            content: "\f107";
                                                            color: #636363;
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                                &--left,
                                                &--right{
                                                    &:not(.fotorama__arr--disabled):hover{
                                                        .fotorama__thumb--icon{
                                                            background-color: #F00;
                                                            color:#ffffff;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .fotorama__stage {
                                            &__shaft{
                                                width: ~'calc(100% - 145px)' !important;
                                            }
                                            left: 0 !important;
                                            &__frame{
                                                .fotorama__img{
                                                    width: 100%;
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .product-detail-infomation{
                    &.product-detail-infomation-sticky{
                        margin-top: -6px;
                        .product-detail-infomation-content{
                            .product-info-main {
                                width: unset;
                                padding-left: 0;
                                padding-right: 0;
                                float: unset;
                                .product-name {
                                    font-family: 'Playfair Display', serif;
                                    margin-top: 0;
                                    font-size: 2.0833333333333335vw;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    color: #1a1a1a;
                                    margin-bottom: 9px;
                                    letter-spacing: .025em;
                                }

                                .product-reviews-summary {
                                    .rating-summary {
                                        left: 0;
                                        .rating-result {
                                            margin-left: 0;
                                            &:before{
                                                content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                font-family: 'FontAwesome';
                                                letter-spacing: 2px;
                                                font-size: 1.0416666666666667vw;
                                                padding: 0;
                                            }
                                            > span{
                                                &:before{
                                                    content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                    font-family: 'FontAwesome';
                                                    letter-spacing: 2px;
                                                    font-size: 1.0416666666666667vw;
                                                    color: #ffc107;
                                                    padding: 0;
                                                }
                                            }
                                        }
                                    }
                                    .reviews-actions {
                                        a{
                                            font-size: 0.8333333333333334vw;
                                            color: #313131;
                                            margin: 0 0 0 10px;
                                            span{display: none;}
                                        }
                                    }
                                }

                                .product-add-form {
                                    .box-tocart {
                                        width: 100%;
                                        .field.qty {
                                            display: inline-block;
                                            margin-right: 3px;
                                            margin-bottom: 10px;
                                            vertical-align: top;
                                            padding: 0;
                                            margin-right: 10px;
                                        }
                                        .actions {
                                            display: inline-block;
                                            margin-bottom: 10px;
                                            vertical-align: top;
                                            padding: 0;
                                            .action{
                                                &.primary{
                                                    &.tocart{
                                                        background-color: #f56536;
                                                        border: 1px solid #f56536;
                                                        color: #FFF;
                                                        padding:5px 30px !important;
                                                        font-size: 0.7291666666666666vw;
                                                        text-transform: uppercase;
                                                        border-radius:3px ;
                                                        background: rgb(239,59,43);
                                                        background: -moz-linear-gradient(90deg, rgba(239,59,43,1) 0%, rgba(243,99,53,1) 100%);
                                                        background: -webkit-linear-gradient(90deg, rgba(239,59,43,1) 0%, rgba(243,99,53,1) 100%);
                                                        background: linear-gradient(90deg, rgba(239,59,43,1) 0%, rgba(243,99,53,1) 100%);

                                                        span{
                                                            text-decoration: none;
                                                        }
                                                        &:hover{
                                                            background: transparent;
                                                            border: 1px solid #f56536;
                                                            color: #f56536;
                                                        }
                                                    }
                                                }
                                                &-secondary{display: none;}
                                            }
                                        }
                                        .fieldset {
                                            display: -webkit-box;
                                            display: -moz-box;
                                            display: -ms-flexbox;
                                            display: -webkit-flex;
                                            display: flex;
                                            -ms-flex-wrap: wrap;
                                            flex-wrap: wrap;
                                        }
                                    }
                                }
                                .swatch-option {
                                    height: 25px;
                                    min-width: 25px;
                                    margin: 2px;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                    margin-right: 7px;
                                }
                                .price-box{
                                    margin: 10px 0 20px;
                                    .price-container{
                                        .price {
                                            font-size: 1.4583333333333333vw;
                                            color: #130e2b;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product{
                &.info{
                    &.detailed{
                        width: ~'calc(100% - 200px)';
                        margin: 0 100px;
                        
                        .product{
                            &.data{
                                &.items{
                                    text-align: center;
                                    margin: 0;
                                    padding: 0;
                                    margin-bottom: 24px;
                                    >.item{
                                        &.title {
                                            float: none;
                                            margin: 0 6px 0 0;
                                            display: inline-flex;
                                            position: relative;
                                            -webkit-transition: .3s ease-in-out;
                                            -moz-transition: .3s ease-in-out;
                                            -ms-transition: .3s ease-in-out;
                                            transition: .3s ease-in-out;
                                            -webkit-transition: all .3s ease;
                                            -moz-transition: all .3s ease;
                                            -ms-transition: all .3s ease;
                                            transition: all .3s ease;
                                            >.switch {
                                                font-family: 'Playfair Display', serif;
                                                font-weight: 500;
                                                line-height: 100%;
                                                font-size: 1.8rem;
                                                color: #000;
                                                text-decoration: none;
                                                background: #f3f3f3;
                                                border: 0;
                                                border-bottom: none;
                                                height: 100%;
                                                padding: 1.2rem 24px 1.2rem 24px;
                                                border-radius: 3px;
                                            }
                                            &.active{
                                                >.switch{
                                                    border-color: #335797;
                                                    padding-bottom: 1.2rem;
                                                    color: #ffffff;
                                                    background-color: #335797;
                                                }
                                            }
                                        }
                                        &.content {
                                            text-align: left;
                                            border: none;
                                            margin-top: 55px;
                                            padding: 3rem 0 0 0;
                                            h2{
                                                font-family: 'Playfair Display', serif;
                                                font-weight: 500;
                                                line-height: 22px;
                                                padding-bottom: 25px;
                                                margin: 0;
                                                font-size: 1.8rem;
                                                color: #000;
                                                text-decoration: none;
                                            }
                                            ul, ol {
                                                list-style-type: none;
                                                margin: 0;
                                                padding-left: 0;
                                                font-size: 1.0416666666666667vw;
                                                line-height: 28px;
                                                li{
                                                    padding: 5px 0 4px 22px;
                                                    position: relative;
                                                    &:before {
                                                        content: "";
                                                        width: 10px;
                                                        height: 10px;
                                                        border-radius: 3px;
                                                        background-color: #f56535;
                                                        display: inline-block;
                                                        position: absolute;
                                                        left: 1px;
                                                        top: 20px;
                                                        -webkit-transform: translateY(-50%);
                                                        -moz-transform: translateY(-50%);
                                                        -ms-transform: translateY(-50%);
                                                        -o-transform: translateY(-50%);
                                                        transform: translateY(-50%);
                                                    }
                                                    &:hover {
                                                        &:before {
                                                            background-color: #335797;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-main {
            //max-width: 100%;
            padding:0;
            >.columns {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                box-sizing: border-box;
            }
        }
        >.loading-mask {
            z-index: 9999;
        }
        &.page-products{
            .products-grid{
                .product-items{
                    &.listview{
                        .product-item {
                            margin-left: 80px;
                            padding: 0;
                            width: ~'calc((100% - 15%) / 3)';
                            &:nth-child(3n + 1) {
                                margin-left: 0;
                            }
                            .product-item-info{
                                width: 100%;
                                a{
                                    &.product-item-photo {
                                        display: block;
                                    }
                                }
                                .product-item-details{
                                    .product-item-name{
                                        margin: 30px 0 10px;
                                        a {
                                            font-weight: 400;
                                            font-size: 1.09375vw;
                                            line-height: 1.3020833333333333vw;
                                            text-transform: uppercase;
                                            color: #646464;
                                            height: 50px;
                                            display: block;
                                        }
                                    }
                                    .product-reviews-summary {
                                        .rating-summary {
                                            left: 0;
                                            .rating-result {
                                                margin-left: 0;
                                                &:before{
                                                    content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                    font-family: 'FontAwesome';
                                                    letter-spacing: 2px;
                                                    font-size: 1.0416666666666667vw;
                                                    padding: 0;
                                                }
                                                > span{
                                                    &:before{
                                                        content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                        font-family: 'FontAwesome';
                                                        letter-spacing: 2px;
                                                        font-size: 1.0416666666666667vw;
                                                        color: #ffc107;
                                                        padding: 0;
                                                    }
                                                }
                                            }
                                        }
                                        .reviews-actions {
                                            a{
                                                font-size: 0.8333333333333334vw;
                                                color: #313131;
                                                margin: 0 0 0 10px;
                                                span{display: none;}
                                            }
                                        }
                                    }
                                    .price-box{
                                        margin: 10px 0 20px;
                                        .price-container{
                                            .price {
                                                font-size: 1.4583333333333333vw;
                                                color: #130e2b;
                                            }
                                        }
                                    }
                                    .product-item-inner{
                                        .product-item-actions{
                                            .actions{
                                                &-primary{
                                                    .tocart{
                                                        background-color: transparent;
                                                        border: 1px solid #f56536;
                                                        color: #f56536;
                                                        font-size: 0.7291666666666666vw;
                                                        text-transform: uppercase;
                                                        span{
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                }
                                                &-secondary{display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
                    
        }
        .page{
            &.messages{
                max-width: 1800px;
                margin: auto;
                > div{
                    width: ~'calc(100% - 200px)';
                    margin: 0 100px;
                }
                .message{
                    &.success,
                    &.info,
                    &.error,
                    &.warning,
                    &.notice{
                        top: 180px;
                        max-width: 400px;
                        left: auto;
                        right: 100px;
                        color: #fff;
                        font-size: 15px;
                        padding: 11px 40px;
                        position: fixed;
                        text-align: left;
                        z-index: 2;
                    }
                }
            }
            &-bottom{
                .frame{
                    .product-grid{
                        width: ~'calc(100% - 200px)';
                        margin: 0 100px;
                        .slick-slider{
                            margin: 0;
                            .slick-list{
                                margin-top: 80px;
                            }
                        }
                        .productItem {
                            
                           
                            .product-item-info{
                                width: 100%;
                                padding-bottom: 5px;
                                a{
                                    &.product-item-photo {
                                        display: block;
                                    }
                                }
                                .product-item-details{
                                    .product-item-name{
                                        margin: 10px 0;
                                        a {
                                            font-weight: 400;
                                            font-size: 1.09375vw;
                                            line-height: 1.3020833333333333vw;
                                            text-transform: uppercase;
                                            color: #646464;
                                            height: 50px;
                                            display: block;
                                        }
                                    }
                                    .product-reviews-summary {
                                        .rating-summary {
                                            left: 0;
                                            .rating-result {
                                                margin-left: 0;
                                                &:before{
                                                    content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                    font-family: 'FontAwesome';
                                                    letter-spacing: 2px;
                                                    font-size: 1.0416666666666667vw;
                                                    padding: 0;
                                                }
                                                > span{
                                                    &:before{
                                                        content:'\f005' '\f005' '\f005' '\f005' '\f005';
                                                        font-family: 'FontAwesome';
                                                        letter-spacing: 2px;
                                                        font-size: 1.0416666666666667vw;
                                                        color: #ffc107;
                                                        padding: 0;
                                                    }
                                                }
                                            }
                                        }
                                        .reviews-actions {
                                            a{
                                                font-size: 0.8333333333333334vw;
                                                color: #313131;
                                                margin: 0 0 0 10px;
                                                span{display: none;}
                                            }
                                        }
                                    }
                                    .price-box{
                                        margin: 10px 0 20px;
                                        .price-container{
                                            .price {
                                                font-size: 1.4583333333333333vw;
                                                color: #130e2b;
                                            }
                                        }
                                    }
                                    .product-item-inner{
                                        .product-item-actions{
                                            .actions{
                                                &-primary{
                                                    .tocart{
                                                        background-color: transparent;
                                                        border: 1px solid #f56536;
                                                        color: #f56536;
                                                        font-size: 0.7291666666666666vw;
                                                        text-transform: uppercase;
                                                        span{
                                                            text-decoration: underline;
                                                        }
                                                        &:hover{
                                                            background: #f56536;
                                                            color: #ffffff;
                                                            box-shadow: 3px 0px 27px rgba(0,0,0,0.23);
                                                        }
                                                    }
                                                }
                                                &-secondary{display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .fa{
                            &.slick-arrow {
                                top: -40px;
                                right: 20px;
                                transition: all 0s;
                                -webkit-transition: all 0s;
                                -moz-transition: all 0s;
                                -o-transition: all 0s;
                                opacity: 1;
                                visibility: visible;
                                width: 25px;
                                height: 25px;
                                background: #f3f3f3;
                                font-size: 16px;
                                line-height: 24px;
                                color: #000000;
                                border-radius: 5px;
                                position: absolute;
                                margin: 0;
                                text-align: center;
                                &:hover{
                                    background: #f56536;
                                    color: #ffffff;
                                }
                            }
                            &-angle{
                                &-left{
                                    right: 55px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .minicart-wrapper{
            .block{
                &-minicart{
                    background: #fff;
                    top: 0;
                    bottom: 0;
                    width: 320px;
                    left: auto;
                    right: -320px;
                    position: fixed;
                    z-index: 999;
                    opacity: 0;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -o-transition: all .3s;
                    min-width: unset;
                    margin: 0;
                    border: 0;
                    padding: 25px 20px;
                    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
                    list-style: none none;
                    box-sizing: border-box;
                    .block-title, .subtitle {
                        display: none;
                    }
                    .minicart-items-wrapper {
                        padding: 0;
                        border: 0;
                        margin: 0;
                        height: auto !important;
                        max-height: 270px;
                    }
                    
                }
            }
            &.active {
                .block{
                    &-minicart{
                        opacity: 1;
                        transform: translate3d(-320px,0,0);
                        -webkit-transform: translate3d(-320px,0,0);
                        -moz-transform: translate3d(-320px,0,0);
                        -o-transform: translate3d(-320px,0,0);
                    }
                }
            }
            .minicart-items {
                .product.product-item {
                    padding: 0;
                }
            }
        }
        &.checkout-cart-index{
            .page-main{

                max-width: 1200px;
                margin: auto;
                box-sizing: border-box;
                padding-left: 15px;
                padding-right: 15px;
                * {
                    box-sizing: border-box;
                }
                &::after {
                    box-sizing: border-box;
                }
                &::before {
                    box-sizing: border-box;
                }
        
                @media(min-width: 320px){
                    max-width: 320px;
                    margin: 0 auto;  
                }
                @media(min-width: 549px){
                    max-width: 549px;
                    margin: 0 auto;  
                }
                @media(min-width: 768px){
                    max-width: 768px;
                    margin: 0 auto; 
                    //padding: 30px; 
                }
                @media(min-width: 992px){
                    max-width: 992px;
                    margin: 0 auto;  
                }
                @media (min-width: 1200px){
                    max-width: 1140px;
                    margin: 0 auto; 
                }
                @media (min-width: 1366px){
                    max-width: 1153px;
                    margin: 0 auto; 
                }
                @media (min-width: 1440px){
                    max-width: 1240px;
                    margin: 0 auto; 
                }
                @media (min-width: 1600px){
                    max-width: 1400px;
                    margin: 0 auto; 
                }
                @media(min-width: 1920px){
                    max-width: 1800px;
                    margin: 0 auto;
                }
                @media(max-width: 767px){
                    padding: 45px 0;
                }
                @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
                }
                @media(max-width: 480px){
                    max-width: 100%;
                }  
            }
            .page-title-wrapper{
                text-align: left;
            }
        }
    }
    .line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-des-6,.col-tb-6{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media (min-width:768px) {
        .col-tb {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            &-6 {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 50%;
                flex: 0 1 50%;
                max-width: 50%;
            }
        }
    }
    @media (min-width:992px) {
        .col-des {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            &-6 {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 50%;
                flex: 0 1 50%;
                max-width: 50%;
            }
        }
        body {
            &:not(.active-builder) {
                .hidden-des {
                    display: none !important;
                }
            }
        }
    }
    @media (min-width:1200px) {
        .col-lg {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            &-6 {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 50%;
                flex: 0 1 50%;
                max-width: 50%;
            }
        }
    }
    a{
        color: #1a1a1a;
        text-decoration: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &.action.md-button {
            padding: 10px 9px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }
    }
    .text-align-left, .text-align-left .slide-text {
        text-align: left;
    }
    .cms-index-index {
        #maincontent {
            >.columns {
                max-width: 100vw !important;
                padding-left: 0;
                padding-right: 0;
            }
            .section-builder-full {
                .frame {
                    max-width: 100vw !important;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .frame.no-padding {
                    padding: 0;
                }
            }
        }
        main.page-main {
            max-width: 100vw !important;
            padding-left: 0;
            padding-right: 0;
        }
        .section-builder-full {
            .frame {
                max-width: 100vw !important;
                padding-left: 15px;
                padding-right: 15px;
            }
            .frame.no-padding {
                padding: 0;
            }
        }
    }
    .frame *, .frame :after, .frame :before, .panel-popup *, .panel-popup :after, .panel-popup :before {
        box-sizing: border-box;
    }
    .frame {
        max-width: 1200px;
        margin: auto;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        * {
            box-sizing: border-box;
        }
        &::after {
            box-sizing: border-box;
        }
        &::before {
            box-sizing: border-box;
        }

        @media(min-width: 320px){
            max-width: 320px;
            margin: 0 auto;  
        }
        @media(min-width: 549px){
            max-width: 549px;
            margin: 0 auto;  
        }
        @media(min-width: 768px){
            max-width: 768px;
            margin: 0 auto; 
            //padding: 30px; 
        }
        @media(min-width: 992px){
            max-width: 992px;
            margin: 0 auto;  
        }
        @media (min-width: 1200px){
            max-width: 1140px;
            margin: 0 auto; 
        }
        @media (min-width: 1366px){
            max-width: 1153px;
            margin: 0 auto; 
        }
        @media (min-width: 1440px){
            max-width: 1240px;
            margin: 0 auto; 
        }
        @media (min-width: 1600px){
            max-width: 1400px;
            margin: 0 auto; 
        }
        @media(min-width: 1920px){
            max-width: 1800px;
            margin: 0 auto;
        }
        @media(max-width: 767px){
            padding: 45px 0;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
        }
        @media(max-width: 480px){
            max-width: 100%;
        }                                                                                                   
        .frameRow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            .col-Three{
                width: ~'calc(100% / 3)';
                padding: 0 15px;
                margin-bottom: 40px;
            
                .colFrames{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin: 0;
                    &-Item{
                        padding: 0;
                        border: 1px solid #eaeaea;
                        margin-bottom: 30px;
                        border-right: none;
                        position: relative;
                        width: 100%;
                        &-info{
                            position: relative;
                            display: -webkit-box;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            height: 100%;
                            .product{
                                &-top {
                                    width: 45%;
                                    padding: 30px 0;
                                    background-color: #f4f4f4;
                                    position: relative;
                                    .product-action{
                                        .action.primary{
                                            width: 40px;
                                            height: 40px;
                                            background-color: #f13b2d;
                                            color: #FFF;
                                            position: absolute;
                                            bottom: 0;
                                            right: 15px;
                                            border: 0;
                                            span{display: none;}
                                        }
                                    }
                                }
                                &-item{
                                    &-photo {
                                        display: block;
                                        border-bottom: 1px solid #eaeaea;
                                    }
                                    &-details {
                                        padding: 15px 20px 25px;
                                        background: #335897;
                                        color: #FFF;
                                        text-align: center;
                                        width: 55%;
                                        transform: scale(1.1);
                                        display: -ms-flexbox;
                                        display: flex;
                                        -ms-flex-direction: column;
                                        flex-direction: column;
                                        -ms-flex-pack: center;
                                        justify-content: center;                                        
                                        .product{
                                            &-item{
                                                &-description {
                                                    font-size: 14px;
                                                    margin-bottom: 15px;
                                                }
                                            }
                                        }
                                    }
                                    &-name {
                                        margin-bottom: 10px;
                                        display: block;
                                        .product{
                                            &-item{
                                                &-link {
                                                    font-family: 'Playfair Display', serif;
                                                    font-size: 1.25vw;
                                                    font-weight: 600;
                                                    color: #FFF;
                                                    letter-spacing: .025em;
                                                    line-height: 28px;
                                                    display: -webkit-box;
                                                    text-overflow: ellipsis;
                                                    -webkit-line-clamp: 2;
                                                    -webkit-box-orient: vertical;
                                                    overflow: hidden;
                                                    min-height: inherit;
                                                }
                                            }
                                        }
                                    }
                                }
                                &-image-container {
                                    display: inline-block;
                                    max-width: 100%;
                                    width: 100%;
                                }
                                &-image-photo {
                                    bottom: 0;
                                    display: block;
                                    height: auto;
                                    left: 0;
                                    margin: auto;
                                    max-width: 100%;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .breadcrumbs {
        .items {
            max-width: 1200px;
            margin: auto;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1.2rem;
            color: #a3a3a3;
            margin: 0;
            padding: 0;
            list-style: none none;
            margin: 0 auto;
            >li {
                display: inline-block;
                vertical-align: top;
            }
            .item {
                a {
                    font-size: 17px;
                    color: #fff;
                    opacity: 0.6;
                }
                strong {
                    font-size: 17px;
                    color: #fff;
                    opacity: 0.6;
                }
                &:last-child {
                    a {
                        color: #fff;
                        opacity: 1;
                    }
                    strong {
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }
        margin: 0 auto 20px;
        margin-bottom: 0;
        .item {
            margin: 0;
            &:not(:last-child) {
                display: inline-block;
                text-decoration: none;
                &:after {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 18px;
                    content: '\e608';
                    font-family: 'icons-blank-theme';
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                }
            }
        }
        a {
            color: #333333;
            text-decoration: none;
            &:visited {
                color: #333333;
                text-decoration: none;
            }
            &:hover {
                color: #333333;
                text-decoration: underline;
            }
            &:active {
                color: #333333;
                text-decoration: none;
            }
        }
        strong {
            font-weight: 400;
        }
    }
    .page-title-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
       // padding: 63px 10px;
        //background: #252631;
        .order-date {
            margin: 0 0 20px;
        }
        .page-title {
           // color: #fff;
        }
        .breadcrumbs {
            .item {
                position: relative;
                a {
                    padding: 0 15px;
                }
                strong {
                    padding: 0 15px;
                }
                &:after {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #67676f;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    right: -2px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .align-items-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .d-flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .justify-content-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    //Banner slider
    .mp-banner-slider{
        .owl-carousel{
            .banner-slider{
                .item-image {
                    min-height: 500px;
                    display: block;
                    z-index: 1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    img {
                        opacity: 0;
                    }
                }
                .slide-text{
                    >* {
                        padding: 0;
                    }
                    transition: all 0s;
                    -webkit-transition: all 0s;
                    -moz-transition: all 0s;
                    -o-transition: all 0s;
                    opacity: 1;
                    visibility: visible;
                    padding: 15px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    &.middle_left {
                        >* {
                            float: left;
                        }
                        top: 50%;
                        bottom: auto;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        .inner-text {
                            margin-left: 40%;
                            max-width: 33vw;

                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                            @media (max-width: 575.98px) {
                                max-width: 100%;
                            }
                            .title {
                                font-size: 3.5vw;
                                line-height: 60px;
                                letter-spacing: .01em;
                                font-weight: 500;
                                margin: 0;
                                margin-bottom: 25px;
                                font-family: 'Playfair Display', serif;
                                >span {
                                    font-family: 'Roboto', sans-serif;
                                    display: block;
                                    font-weight: 500;
                                    font-size: 2.4479166666666665vw;
                                    line-height: 1.5;
                                }
                            }
                            .sub-title {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1vw;
                                line-height: 1.65vw;
                                display: block;
                                text-transform: capitalize;
                                font-weight: 400;
                                margin-bottom: 25px;
                                color: #000;
                            }
                            >.price {
                                font-size: 35px;
                                line-height: 1;
                                color: #272727;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }
                            .action {
                                margin-top: 15px;
                                font-family: 'Roboto', sans-serif;
                                color: #000000;
                                text-transform: uppercase;
                                padding: 0 30px 0 0;
                                position: relative;
                                &::after{
                                    content: "\f105";
                                    font-family: FontAwesome;
                                    position: absolute;
                                    right: 0;
                                    color: #000000;
                                    font-weight: bolder;
                                    font-size: 3vh;
                                    line-height: 1.3;
                                    text-align: center;
                                    width: 20px;
                                    height: 20px;
                                    top: 0;
                                    bottom: 0;
                                    border-radius: 100%;
                                    border: 1.5px solid #000000;
                                }
                                &:hover{
                                    text-decoration: none;
                                }
                                span{
                                    border-bottom: 1px solid #000000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //Section header
    .sectionHeader{
        position: relative;
        margin: 0 auto 20px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .emblem {
            font-family: 'CoreMellowW01-57CnMedium' !important;
            font-size: 1.09375vw;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 auto;
            letter-spacing: 0.5px;
            font-weight: bold;
            color:  rgba(210, 177, 167,0.5);
            transform: rotate(-150deg);
            text-align: center;
            z-index: -1;
        }
        h2{
            display: block;
            width: auto;
            margin: 0;
            font-family: 'Playfair Display', serif;
            font-size: 3.2291666666666665vw;
            line-height: 2.229167vw;
            padding: 0 0 5px;
            color: #130e2b;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            span{
                display: block;
                font-family: 'Roboto', sans-serif;
                color: #130e2b;
                font-size: 1.09375vw;
            }
        }
    }
    //fullContainer
    .fullContainer{
        width: 100%;
        padding: 100px 0;
        @media (max-width: 575.98px) {
            padding: 50px 0;
        }
        margin: 0;
        position: relative;
        overflow: hidden;
        &::after {
            box-sizing: border-box;
        }
        &::before {
            box-sizing: border-box;
        }
    }
    //turmeric icon
    .turmericFrontIcon{
        position: absolute;
        width: 300px;
        height: 200px;
        background-image: url('../images/turmenicContainerSprite.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        top: 100px;
        right: -50px;
    }
    @media (min-width:1200px) {
        .header3{
            .conts-middle-header {
                border-bottom: 1px solid #eaeaea;
                .center-header {
                    text-align: center;
                    flex: 0.7;
                    display: flex;
                    .logo {
                        margin: 0 auto;
                        display: inline-block;
                    }
                }
                >div {
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    flex: 1;
                    max-width: 100%;
                    .minicart-wrapper{
                        display: flex;
                        align-items: center;
                        position: relative;
                        float: none;
                        list-style: none;
                        li{
                            margin-left: 45px;
                            margin-bottom: 0;
                            font-size: 0.8333333333333334vw;
                            font-weight: 400;
                            line-height: 26px;
                            a {
                                font-size: 0.8333333333333334vw;
                                font-weight: 600;
                                letter-spacing: 1.75px;
                                &.sign_in{
                                    i{
                                        width: 35px;
                                        height: 35px;
                                        margin: 0 auto;
                                        position: relative;
                                        &::before{
                                            content: '';
                                            display: block;
                                            background-image: url('@{baseDir}images/icon/loginIcon.svg');
                                            background-size: contain;
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    i,span{
                                        display: block;
                                        font-size: 0.9375vw;
                                        font-weight: 400;
                                        line-height: 26px;
                                        color: #646464;
                                    }
                                }
                                &.showcart{
                                    &::before{
                                        content: '';
                                        display: block;
                                        background-image: url('@{baseDir}images/icon/cartIcon.svg');
                                        background-size: contain;
                                        width: 35px;
                                        height: 35px;
                                    }
                                    span.cartText{
                                        display: block;
                                        font-size: 0.9375vw;
                                        font-weight: 400;
                                        line-height: 26px;
                                        color: #646464;
                                    }
                                    .counter{
                                        &.qty{
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            border-radius: 100%;
                                            width: 25px;
                                            height: 25px;
                                            text-align: center;
                                            font-size: 12px;
                                            padding: 0;
                                            margin: 0;
                                            line-height: inherit;
                                        }
                                    }
                                }
                            }
                            &.phone{
                                .phoneContainer{
                                    span{
                                        display: block;
                                        color: #646464;
                                        text-transform: uppercase;
                                        font-size: 0.8333333333333334vw;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: bold;
                                        letter-spacing: 2.5px;
                                        &+span{
                                            .phoneNum{
                                                font-size: 1.7708333333333333vw;
                                                font-weight: bold;
                                                color: #646464;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-header{
            .left-content {
                position: static;
            }
            .header-area{
                .right-content {
                    margin-left: auto;
                }
            }
        }
    }
    @media (min-width: 1366px){}
    @media (min-width: 1440px){}
    @media (min-width: 1600px){}
    @media (min-width: 1920px){}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    input {
        &:focus{
            box-shadow: none !important;
        }
    }
    .block-search {
        float: left;
        padding-left: 0;
        position: relative;
        width: 375px;
        z-index: 4;

        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }

        .nested {
            display: block;
            padding-top: 5px;
            position: absolute;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
            height: 55px;
            background: #f3f3f3;
            border: none;
            border-radius: 10px;
            color: #646464;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-text-hide: true,
            @_icon-font-color: #FFF
            );
            .lib-button-reset();
            padding: @indent__xs 0;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 55px;
            top: 0;
            z-index: 1;
            width: 55px;
            background: #f56335;
            border-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            &[disabled]{
                opacity: 1;
            }
            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }
}