<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customer_id = $customerSession->getCustomerId(); 
$base_url = $this->getBaseUrl();
?>
<li class="my_account_link authorization-link">
	
	<?php if(!$customerSession->isLoggedIn())
		{
	?>
	<a href="<?php echo $base_url; ?>customer/account/login/" class="sign_in"><?php echo __('Sign In') ?></a>
	<a href='<?php echo $base_url; ?>customer/account/create/'><?php echo __('Sign Up') ?></a>

<?php 
}
?>
</li>
