<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        
            <?= /* @noEscape */ $_menuHtml?>
            <?= $block->getChildHtml() ?>
            <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('1')
                ->toHtml();
            ?>
        <script>
            require(['jquery', 'jquery/ui', 'slick'], function ($) {
                $(document).ready(function () {
                    $(".navigation-slider").slick({
                        dots: false,
                        infinite: false,
                        variableWidth: true,
                        slidesToShow: 7,
                        slidesToScroll: 1,
                        prevArrow: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                        nextArrow: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
                        responsive: [
                            {
                            breakpoint: 767,
                            settings: "unslick"
                            }
                        ]
                    });
                    $('.navigation-slider .slick-list').addClass("navFrame");
                });
            });
        </script>
    </ul>
</nav>
