<div id="mp-popup-template4" style="background-image: url('{{bg_tmp4}}')">
    <div class="tmp4-text-content">
        <div class="tmp4-title">Subscribe</div>
        <div class="tmp4-sub-title">TO OUR NEWSLETTER</div>
        <div class="tmp4-text mppopup-text">Subsribe to our email newsletter today to receive update on the latest news, tutorials and special offers!</div>
    </div>
    <form class="form subscribe tmp4-form" novalidate action="{{form_url}}" method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="mp-newsletter-validate-detail">
        <div class="tmp4_field_newsletter">
            <input name="email" type="email" id="mp-newsletter" class="tmp4-input"
                   placeholder="Enter your email bellow to subscribe"
                   data-validate="{required:true, 'validate-email':true}">
            <div class="mage-error" id="mp-newsletter-error" style="display: none;"></div>
            <div class="message-success success message" id="mp-newsletter-success" style="display: none;"></div>
            <div class="popup-loader">
                <img class="loader" src="{{url_loader}}" alt="Loading...">
            </div>
        </div>
        <button class="action subscribe primary tmp4-button" title="Send" type="submit">SUBSCRIBE NOW</button>
    </form>
    <div class="tmp4-img-content">
        <img src="{{img_tmp4}}" alt=""/>
    </div>
</div>
