<div id="mp-popup-template6">
    <div class="tmp6-left-title">
        <ul class="title">
            <li>SUBSCRIBE</li>
            <li>TO OUR</li>
            <li>NEWSLETTER</li>
        </ul>
    </div>
    <div class="tmp6-text-content">
        <div class="tmp6-text mppopup-text">Subsribe to our email newsletter today to receive update on the latest news, tutorials and special offers!</div>
        <form class="form subscribe tmp6-form" novalidate action="{{form_url}}" method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="mp-newsletter-validate-detail">
            <div class="tmp6_field_newsletter">
                <input name="email" type="email" id="mp-newsletter" class="tmp6-input"
                       placeholder="Enter your email below to subscribe"
                       data-validate="{required:true, 'validate-email':true}">
            </div>
            <button class="action subscribe primary tmp6-button" title="Send" type="submit">SUBSCRIBE NOW</button>
            <div class="mage-error" id="mp-newsletter-error" style="display: none;"></div>
            <div class="message-success success message" id="mp-newsletter-success" style="display: none;"></div>
            <div class="popup-loader">
                <img class="loader" src="{{url_loader}}" alt="Loading...">
            </div>
        </form>
    </div>
</div>
