<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();

if (!$_product instanceof \Magento\Catalog\Model\Product) {
    return;
}

$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code))
        ? $_product->getAttributeText($_code)
        : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
$allergens_section = $_product->getDefaultValue('allegens_selection');

?>
<?php 
  $allergen = $_product->getData('allergens_selection');
  if($allergen !== null)
  {
    ?>

<h2>New Allergens</h2> 
<div>
    <?php 
        $data = explode(',',$_product->getData('allergens_selection'));
        ?>
          <div id="allergens-slider" class="brandContainer">
            <div class="container">
              <div class="row">
                <div class="carousel">
                <?php
                foreach($data as $value):            
                ?>
                  <?php
                  $attr = $_product->getResource()->getAttribute('allergens_selection');
                  if ($attr->usesSource()): ?>
                <?php 
                  $option_value = $attr->getSource()->getOptionText($value);
                  $data = str_replace(' ', '_', strtolower($option_value)).".png";
                  
                ?>


          
                  <div class="item">
                    <div class="brand-item">
                      <div class="brand-image">
                        <p class="cate"><img src="/media/wysiwyg/allergens/<?php echo $data ?>"></img></p>
                        <p><?php echo $option_value; ?></p>
                      </div>
                    </div>
                  </div>
                           
                  <?php endif;?>
                <?php endforeach;?>
                </div>
              </div>
            </div>
          </div>      
  </div>

<?php
  }
?>

<script type="text/javascript">
// <![CDATA[
          require([
            'jquery',
            'slick'
          ], function ($) {
            $("#allergens-slider .carousel").slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true
            
          });

        $('.slick-track').on('click','.cate',function () {
             $('.cate').removeClass('selected');
             $(this).addClass('selected')
        });
    
          });// ]]>
</script>

<!-- <script>
$('#allergens-slider .carousel').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true
});
  </script> -->
  



